[2014-05-22 23:57] tminglei opened #819 "No type for symbol s2 found for Ref s2"
Pls see [here](https://github.com/tminglei/slick/commit/ded148389b9db1b10a325244c68fbf1dff8a0f1e) for change details.

When I try to run it through executing `AggWinTestGist.main(..)` directly, I encountered an exception like this:

[code]

**pls help me out, or tell me a better way if I used a wrong way.**

_(p.s. the code is made for trying. For better code organization pls give your suggestions

[2014-05-23 00:00] #819 closed, assigned to nobody

[2014-05-23 19:29] cvogt opened #823 "improve index on SQL to Slick doc"

[2014-05-26 06:30] #794 closed, assigned to nobody

[2014-05-27 02:30] cvogt opened #827 "Monadic Actions / Transactions"
Monadic transaction api for better composability

review monadic style in:

https://gist.github.com/cvogt/4707c3f938a2e984cc11

https://github.com/tpolecat/tiny-world/blob/master/src/test/scala/org/tpolecat/tiny/world/example/slick/FirstExampleMinimal.scala

[2014-05-27 02:37] #478 closed, assigned to cvogt

[2014-05-27 15:12] #180 closed, assigned to nobody

[2014-05-28 07:34] imcharsi opened #831 "Experiment for the With Clause(Common Table Expression)."
Hi.

I tried to With clause(Common Table Expression) in Slick.

The example project's git is https://github.com/imcharsi/withclauseexperiment

Thanks.

[2014-05-30 23:21] sclasen opened #837 "meta.jdbcTypeToScala : mechanism to or documentation on how to customize"
not clear, to me at least, how to hook in to

https://github.com/slick/slick/blob/master/src/main/scala/scala/slick/jdbc/meta/package.scala#L196-L226

in a code generator.

[2014-05-31 22:15] johanstenberg92 opened #838 "Code Generator wrong for Postgres BYTEA"
Hi,

The slick code generator is wrong for the Postgres BYTEA type, it generates a java.sql.Blob as the type but should generate an Array[Byte].

I'm using postgres 9.2.4 and slick 2.1.0-M2.

[2014-06-01 02:50] mslinn opened #839 "Build Slick 1.0.1 for Scala 2.11"
It would be helpful to have this older version of Slick available for Scala 2.11.1

[2014-06-02 14:41] #839 closed, assigned to nobody

[2014-06-03 11:43] #72 closed, assigned to nobody

[2014-06-03 11:45] nafg opened #842 "ClassCastException, type mapping being applied in wrong place"
Demonstration: http://scastie.org/5592

[code]

[2014-06-06 08:46] szeiger opened #846 "Automatic documentation of implicits via scaladoc is broken"
In the current docs, the automatic documentation of implicits is completely useless. None of our conversions are shown for either Query or Column.

@cvogt, can you take a look at this since you've worked on scaladoc, too?

[2014-06-12 18:31] cvogt opened #851 "Check out / integrate doobie"
Check if it makes sense to integrate doobie or ideas from it: https://github.com/tpolecat/doobie

[2014-06-14 01:13] wuservices opened #854 "StackOverflowError when compiling large auto-generated Tables.scala"
I'm unable to compile the auto-generated schema code kicked out by Slick 2.0.2 / Scala 2.10.4. I was previously using 2.0.0 RC1 and had the same problem.

I was able to get around the issue before by deleting everything I didn't want, but that manual step makes updating the schema code a manual process and isn't ideal.

If needed, I could provide Tables.scala, but I didn't want to post the whole t

[2014-06-17 21:57] ignasi35 opened #861 "Strange PG SQL statement generated (invalid syntax?)"
We faced strange error when using slick 2 on postgresql to complete a 3-table join:

[code]

We managed to find other valid slick code though:

[code]

Note: All code past the 'val query...' statement is identical.

[2014-06-20 18:36] mariusmuja opened #862 "Regression in Slick 2.0.1 and 2.0.2"
The following code throws an exception in Slick 2.0.1 and 2.0.2 (works as expected in 2.0.0):

[code]

[2014-06-23 09:47] #781 closed, assigned to nobody

[2014-06-23 10:59] #861 closed, assigned to nobody

[2014-06-23 11:36] #704 closed, assigned to nobody

[2014-06-23 11:40] #831 closed, assigned to nobody

[2014-06-23 18:28] szyam opened #864 "Using Slick inside Foundation and getting a right margin on page"
I was using Orbit, but decided to replace with Slick.

Working great except I cant seem to figure out where it's getting this right marging from, thats kicking over the whole page and showing a horizontal scrollbar?

http://koovay.com/SourcefulLiving/slick/

Any ideas would be appreciative.

[2014-06-23 18:36] #864 closed, assigned to nobody

[2014-06-24 11:45] #780 closed, assigned to cvogt

[2014-06-24 12:45] #132 closed, assigned to szeiger

[2014-06-24 13:08] #326 closed, assigned to nobody

[2014-06-24 13:33] #493 closed, assigned to szeiger

[2014-06-24 13:50] #357 closed, assigned to cvogt

[2014-06-24 16:05] cvogt opened #866 "support compound types in IfThen"
Slick's If Then construct in the lifted embedding currently only supports scalar values, not structured data. See

http://stackoverflow.com/questions/24383717/how-to-return-compound-types-in-slicks-case-if-then-else

[2014-06-26 13:00] #846 closed, assigned to szeiger

[2014-06-26 13:41] #862 closed, assigned to nobody

[2014-06-26 14:32] #511 closed, assigned to nobody

[2014-06-26 16:42] #379 closed, assigned to nobody

[2014-06-26 16:58] #359 closed, assigned to cvogt

[2014-06-26 17:19] #289 closed, assigned to xeno-by

[2014-06-26 19:40] #483 closed, assigned to nobody

[2014-06-26 20:09] #391 closed, assigned to amirsh

[2014-06-26 20:12] #429 closed, assigned to nobody

[2014-06-26 20:16] #454 closed, assigned to nobody

[2014-06-26 20:17] #415 closed, assigned to amirsh

[2014-06-27 16:38] #448 closed, assigned to nobody

[2014-06-27 16:38] #446 closed, assigned to nobody

[2014-06-27 17:11] fzakaria opened #871 "Invalid SQL generated on inner query from GroupBy"
An example query I was performing where I used groupBy to get uniquness was throwing an error when I tried to put a where clause on the ids from the sub query.
When I moved the where clause to an if statement it worked!

---ERROR---

CREATE FORCE VIEW PUBLIC._37 AS
SELECT
    X141.X142 AS X108,
    X141.X143 AS X109,
    X141.X144 AS X110,
    X141.X145 AS X111,
    X141.X146 AS X112,
    X141.X14

[2014-06-29 12:26] cvogt opened #872 "Misleading error for `MyTable.sortBy(_.id.asc).take(size).delete`"
Error message: A query for a DELETE statement must resolve to a comprehension with a single table -- Unsupported shape: Comprehension(fetch = None, offset = None)

(assuming thus to be 2.0.2 or 2.1-M2.)

I suspect this workaround to work: `MyTable.filter(_.id in MyTable.sortBy(_.id.asc).take(size).map(_.id)).delete`.

Without looking at the details right now, I am assuming the error message to be

[2014-06-30 09:58] #801 closed, assigned to nobody

[2014-06-30 09:59] #419 closed, assigned to nobody

[2014-06-30 12:39] #567 closed, assigned to cvogt

[2014-06-30 13:13] #176 closed, assigned to nobody

[2014-06-30 13:40] #494 closed, assigned to nobody

[2014-06-30 14:50] #417 closed, assigned to cvogt

[2014-06-30 14:51] #482 closed, assigned to nobody

[2014-06-30 15:27] #524 closed, assigned to nobody

[2014-06-30 15:38] #526 closed, assigned to nobody

[2014-06-30 17:26] #714 closed, assigned to nobody

[2014-07-02 07:43] heffer opened #878 "StaticQuery0.first always returns "1" as affected rows count using plain JDBC and SQL-Server"
I have used the following Scala object to assert that an update statement should return "2" as number of affected rows. A new database table _Person_ is created (after being dropped), filled with two entries and the SQL UPDATE statement should update both entries (because it has no WHERE statement).

[code]

The assertion works for databases like H2, Oracle and MySQL. But for a SQLServer database

[2014-07-03 03:25] mdedetrich opened #880 "Suggest 'MultiColumn' Type"
Currently, when we want to create a mapping for a Scala type `T` to Slick, we have two options which depends on the number of fields the underlying representation in the database will represent (for that type `T`)
1. If the type `T` can be sanely represented as a single field in a database, we generally use a `MappedColumnType[A,T]` which allows us to go from A to T. Obvious use case scenario is d

[2014-07-03 08:10] lJoublanc opened #881 "codegen: make 'desiredColumnOrder' non-final"
It would be useful to be able to override this to get custom column ordering.

Currently the only alternative is to change the SourceCodeGenerator to do this.

[2014-07-06 15:47] #872 closed, assigned to szeiger

[2014-07-06 16:42] cvogt opened #887 "add .insertOrUpdateStatement for debugging"
Do we have this already or is it missing?

[2014-07-07 07:59] #572 closed, assigned to cvogt

[2014-07-07 08:02] cvogt opened #888 "2.1.0"

[2014-07-07 08:02] #888 closed, assigned to nobody

[2014-07-07 08:06] #193 closed, assigned to szeiger

[2014-07-07 15:43] #887 closed, assigned to szeiger

[2014-07-07 16:49] cvogt opened #889 "add more scaladoc to modelbuilder"

[2014-07-07 16:50] cvogt opened #890 "make sure nullable/non-nullable are sufficiently covered by test cases"

[2014-07-07 16:51] cvogt opened #891 "More type mappings in ModelBuilder"
We can see what kind of type and default value mappings we can do now.

[2014-07-07 16:52] cvogt opened #892 "map strings to accurate columns"
right now strings are mapped to CHAR or VARCHAR. Better, portable mapping would be useful, e.g for NVARCHAR, TEXT, etc

[2014-07-08 10:45] #620 closed, assigned to nobody

[2014-07-08 10:45] #643 closed, assigned to nobody

[2014-07-08 10:45] #769 closed, assigned to nobody

[2014-07-08 10:46] #441 closed, assigned to nobody

[2014-07-08 10:49] szeiger opened #893 "Move code generator tests into TestKit"
We need to run them for non-core drivers like in slick-extensions, too. While we're at it, we should also try to separate JdbcModelComponent from JdbcProfile.

[2014-07-08 10:52] #235 closed, assigned to szeiger

[2014-07-08 10:53] #713 closed, assigned to szeiger

[2014-07-08 12:13] cvogt opened #895 "Handle Booleans better in ModelBuilder"

[2014-07-08 12:17] #211 closed, assigned to nobody

[2014-07-08 12:22] cvogt opened #897 "Make code generator more modular"
Currently the code generator is one large class (hierarchy). This is great for getting started and advancing but for more advanced use the class can be an obstacle and individual functionality would be nice to be accessible without using the class at all. We should refactor things like name collision avoidance and default value generation out of the generator to be usable independently.

[2014-07-08 15:53] mobiworx opened #900 "NoSuchMethodError"
Hey guys,

I'm getting the exception:

Caused by: java.lang.NoSuchMethodError: commons.models.slickgen.Tables$.controlObjectTable()Lscala/slick/lifted/TableQuery;
controls.services.PlaygroundService.findIndex(PlaygroundService.scala:23) ~[classes/:na]
controls.controllers.PlaygroundsController$$anonfun$index$1$$anonfun$apply$1.apply(PlaygroundsController.scala:33)

at runtime when trying to use th

[2014-07-08 16:08] #900 closed, assigned to nobody

[2014-07-10 19:11] cvogt opened #903 "Add case class shapes to release notes"

[2014-07-12 18:31] olivergg opened #906 "Codegen : output several files instead of one big Tables.scala"
I think it would be great if there was a way to output the generated classes into several files (one per class) instead of having one big Tables.scala file.

[2014-07-14 12:24] cvogt opened #907 "Document using ConstColumn for pre-compile take/drop"
see https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/scalaquery/9FjYKcM_b9Q/TpBjA1yMpR0J

[2014-07-15 11:07] #779 closed, assigned to nobody

[2014-07-15 13:46] mobiworx opened #910 "HList copy method"
Currently I'm using an HList due to the case class limitation of 22 fields. I use pattern matching to get the single fields of the HList:

[code]

That's all quite handy. Consider the case when I want to change one field in the HList - I'd find it quite cool to use some kind of "copy" method similiar to a case class's copy method. Something like "myhlist.copy(active = false)" would return a new HL

[2014-07-16 03:06] papauschek opened #912 "[2.1.0-RC1] Multiple unions cause SlickException"
If a query involves 3+ consecutive unions, the query does not run and causes a

[code]

Example query:

[code]

The example uses the following table definition:

[code]

Is that a known limitation or a bug?

[2014-07-17 11:59] #890 closed, assigned to cvogt

[2014-07-17 14:25] #912 closed, assigned to szeiger

[2014-07-18 10:11] cvogt opened #916 "Document setting batch size using a custom invoker"

[2014-07-18 10:11] cvogt opened #917 "document using basetypedtype for DAOs"

[2014-07-19 07:02] #755 closed, assigned to nobody

[2014-07-21 10:22] mobiworx opened #923 "rdbms specific aggregation functions"
I know of the possibility to use functions defined in my rdbms in slick by using "SimpleFunction" variants.

Currently I'm in need to use postgres's "string_agg" aggregation function ("group concat") but I cannot find a way to use it. I have this code:

[code]

Instead of "group.map(_._2._2).min" I want to use basically "group.map(_._2._2).string_agg(',')". If that is not possible I think it shoul

[2014-07-22 05:14] mdedetrich opened #928 "Converting values using function during insert, update and querying (e.g. pgcrypto)"
[code]

According to https://github.com/tminglei/slick-pg/issues/82, due to `slicks` design, its not possible to implement something like `pgcryptos` encryption module.

In `slick`, you can't freely express SQL like the following

[code]

because slick only accepts standard types (i.e `long`,`int`) instead of `Column[T]` in inserts/updates, it won't work with the SQL query above (it will just inse

[2014-07-22 17:27] helena opened #929 "Add a Slick driver for Cassandra"
I'd like to write this :)

[2014-07-24 09:48] #41 closed, assigned to nobody

[2014-07-24 23:26] tminglei opened #936 "Why not keep original db type info in `model.Column`?"
I'm reading `slick` source codes to implement `slick-pg` [#58](https://github.com/tminglei/slick-pg/issues/58), and noticed:
`slick` mapped db type to scala type and only kept processed results in the `model.Column`.

As we know, `slick` cannot successfully map all db type to expected scala type, since it can't recognize all db specific types and don't know all user expected scala types.

**So I h

[2014-07-25 00:22] #936 closed, assigned to nobody

[2014-07-28 21:50] mseddon opened #941 "Unable to retrieve autogenerated id in interpolated sql."
[code]

Returns only the # affected rows.  As far as I can tell, I can't retrieve an auto-generated key in the same way I would with `returning` lifted syntax.  Is there a way to do this with interpolated sql?

[2014-07-28 22:58] julienrf opened #942 "Provide an implicit macro to materialize column types for value classes"
Also see [this discussion](https://github.com/slick/slick/pull/934/files#r15494765).

Defining data types modeling each possible query result is cumbersome (e.g. `Person`, `PersonWithAddress`, `PersonWithPhone`, `PersonWithPhoneAndAddress`, etc.).

A convenient alternative is to use tuples to model query results (e.g. `(Person, Address)`, `(Person, String)`, `(Person, String, Address)`, etc.). A l

[2014-07-29 02:15] mdedetrich opened #943 "Use Shapeless HList instead of Slick's HList"
Long story short, this is to address the issue that is described here

http://stackoverflow.com/questions/24978042/slick-2-10-rc1-scala-2-11-x-bypassing-22-arity-limit-with-case-class-heteroge

The main point being, is that Slick's HList implementation, although adequate for the basic operations (mapping a table to a HList, and updating a select number of fields through the HList), it falls short

[2014-07-29 15:27] #418 closed, assigned to cvogt

[2014-07-31 21:52] cvogt opened #944 "Make codegen work better with slick-pg"
see https://github.com/tminglei/slick-pg/issues/85

[2014-08-01 00:24] cvogt opened #945 "Shapeless HList shape"
Provide an extension with shapeless support for slick

Related mailing list threads:
https://groups.google.com/d/msgid/scalaquery/8859fe35-dabc-43ea-a3cf-b35f3db4d4c0%40googlegroups.com?utm_medium=email&utm_source=footer

[2014-08-02 00:36] pathikrit opened #947 "Option columns do not generate correct MySQL statements"
`def listChildren(parentId: Option[Int]) = Nodes.filter.(_.parentId === parentId).list()`

The above generates `select * from nodes where parentId = null` when `parentId` is `None` which is invalid SQL. It should generate `select * from nodes where parentId is null` instead for `None`s because null comparison is always null which evaluates to false in MySQL

[2014-08-02 01:20] #947 closed, assigned to nobody

[2014-08-03 02:51] cvogt opened #948 "document (slick to orm) / implement code generation of relationships"

[2014-08-04 04:48] #907 closed, assigned to cvogt

[2014-08-04 08:47] #903 closed, assigned to cvogt

[2014-08-05 15:00] #945 closed, assigned to nobody

[2014-08-06 09:40] strelec opened #956 "If using postgres, generate string as TEXT, not VARCHAR(254)"
I have noticed that when you have string in you slick object, you get VARCHAR(254) in generated schema. So, at least for postgres (if not for other engines too), it's better to just use TEXT.

http://www.postgresql.org/docs/9.4/interactive/datatype-character.html

[2014-08-08 13:45] nremond opened #959 "insertOrUpdate() on table without primary key"
It is a bad idea to call insertOrUpdate() on a table that doesn't define a primary key as the generated SQL will be broken.

Is there a way to make this not compile?

Thanks
Nicolas

[2014-08-11 14:17] stijn-starmind opened #961 ""Unknown column" MySQL error when using a leftJoin in a for comprehension"
I'm using a leftJoin inside a slick for comprehension like this:

[code]

This compiles and works perfectly fine on a H2 database.

However, running it on a MySQL database gives the following error:

[code]

The generated MySQL query is

[code]

The apparent cause:

If the different lines in the for comprehension were explicitly INNER JOIN-ed together, rather than using the comma operator, this sh

[2014-08-13 22:05] adamhooper opened #963 "update ... returning"
There's an `insertInvoker ... returning` that translates to SQL `INSERT INTO ... RETURNING`.

There ought to be an `updateInvoker ... returning` that translates to SQL `UPDATE ... RETURNING`.

I'm using Postgres as my backend. http://www.postgresql.org/docs/9.3/static/sql-update.html

The workaround is to run an `UPDATE` and then, if the return value is non-zero, run a `SELECT`. But that causes an

[2014-08-18 04:08] amoszhou opened #965 "How can I get the autoIncrements key with the plain SQL?"
Now, I  use  the StaticQuery.u + "insert ......"  to  insert data into db.
   But my question is  How i can get the autoIncrements key value ?  for now the slick seems not support.

[2014-08-23 17:31] President opened #966 "Scala's Slick with multiple PK insertOrUpdate() throws exception ERROR: syntax error at end of input"
I am using Scala' Slick and PostgreSQL. And I am working well with tables with single PK. Now I need to use a table with multiple PKs:

[code]

when I have empty table and use reports.insert(report) it works well. But when I use reports.insertOrUpdate(report) I receive and exception:

[code]

What am I doing wrong? How to fix it?

Thanks in advance.

PS. I tried workaround - tried to implement "if

[2014-08-23 22:34] nremond opened #967 "Numerical operators when using MappedColumnType"
Hi,
Let's say I have the following classes

[code]

Then I defined the mapping:

[code]

Then, if I want to find all the bottles that have a capacity of 1L +/- 0.1L, I would like to write:

[code]

But, when doing so, I get `value - is not a member of scala.slick.lifted.Column[Liter]`.

So, my current workaround is to define this implicit:

[code]

I just adapted what I found here: https://github.

[2014-08-24 14:42] anuragrk opened #968 "Not able to apply filter based on functions of DateTime class"
case class Test(id: Option[Int],dob: Option[DateTime])

object TestDetails extends Table[[Test]] ("test_details") {
  def id = column[[Int]]("id", O.PrimaryKey, O.AutoInc)
 def dob = column[[Option[[DateTime]]("dob")
}
I want to apply a filter on dob with dayOfMonth()
val query = Query(TestDetails) filter ( td => (td.dob.get is DateTime.now.dayOfMonth()))

Basically its not allowing to access me t

[2014-08-26 16:19] debop opened #969 "BigDecimal multiply with Short type produced wrong value."
I learn slick with Northwind Database in MariaDB 10.0.13

define `Order Details` table mapping and case class

[code]

[code]

I want unitPrice \* quantity like this

[code]

and

[code]

[code]

but same wrong result like this

[code]

I got wrong multiply operation. (first record value must  14.0 \* 12.0 = 168.0)

but execution using generated select statement directly,

[code]

it was correct r

[2014-08-26 16:49] #969 closed, assigned to nobody

[2014-08-28 22:49] cvogt opened #970 "Improve group by docs"
show workaround for returning whole row, whose key you grouped on or work around .head not existing.

[2014-08-29 07:50] mobiworx opened #971 "yield compiles to a sql projection with more than 22 fields"
I'm triggering a yield where the final sql results in a projection with exactly 23 fields using scala 2.10.4. and slick 2.0.2 (when removing one element from the projection list the exceptions disappears). I get this exception message:

[code]

Note the accessor "_23" which is the only hint at what is going wrong. May I propose to extend the exception's message with a hint to the tuple size limita

[2014-08-29 07:56] #971 closed, assigned to nobody

[2014-08-29 10:04] cvogt opened #972 "the DBType argument should be a string and the string is not quoted."
https://github.com/slick/slick/blob/60212b62916c019d973d217b1e3601321783f5b1/slick-codegen/src/main/scala/scala/slick/codegen/AbstractSourceCodeGenerator.scala#L148

wrong:
`case DBType(dbType) => Some(s"O.DBType($dbType)")`

right:
`case DBType(dbType) => Some(s"""O.DBType( "$dbType" )""")`

[2014-08-31 11:42] cvogt opened #973 "generate dash docsets for new releases."

[2014-09-01 14:59] cvogt opened #975 "codegen too large VARCHAR in mysql"
https://groups.google.com/d/msgid/scalaquery/76eea22f-9470-4be8-ba19-f07b06812670%40googlegroups.com?utm_medium=email&utm_source=footer

[2014-09-03 15:49] ghost opened #977 "SQLServer driver not working in play-slick-angular-test-example"
Error

[code]

I am trying to connect to a ms sql server to test the scala slick support

i pulled play-slick-angular-test-example https://github.com/fosco-maestro/play-slick-angular-test-example
i added the lib directory with the sql server jdbc drivers.
created the databases on my sql server instance

got the jdbc connection working

here is my application.conf

[code]

// Scala Version, Play su

[2014-09-03 16:08] #977 closed, assigned to nobody

[2014-09-04 00:27] cvogt opened #978 "Reduce number of methods calls in single-expression in generated code"
Instead of
[code]
we should emit
[code]

[2014-09-04 01:11] dozed opened #979 "Consider transactions as succesful for specific exception types in withTransaction"
Sometimes it is useful to be able to ignore a specific exception when executing a function in withTransaction. An example:

[code]

The RedirectException here is part of the control flow and should have no impact on the success state of the transaction.

A solution could be to configure the ignored exceptions when creating the Database object.

Also see: [http://www.scala-lang.org/api/current/inde

[2014-09-04 13:07] falconepl opened #980 "Update Scala version to 2.11.2"
Could you publish Slick 2.1.0 against Scala 2.11.2? There was a significant bug fix introduced in that version - [SI-8675](https://issues.scala-lang.org/browse/SI-8675).

It seems that I'm currently affected by this bug - a similar to the one described [here](https://groups.google.com/forum/#!topic/scala-internals/wOiDhoE6MME) by Phil Rice. In short, it looks like this:

    [error]   Unknown type

[2014-09-05 01:32] ShaneDelmore opened #982 "Codegen does not support postgres UUID datatype"
When trying to use codegen on a simple table with one column, id of type UUID the generated case class  has  datatype of string as shown below.

    val id: Column[String] = column[String]("Id", O.PrimaryKey, O.Length(2147483647,varying=false))

I attempted to override the mapping to explicitely change the type to UUID using what I could piece together from the documentation examples:

    overrid

[2014-09-07 11:14] watsonskynet opened #983 "insert(Query) behavior change between 2.0 and 2.1"
Following code doesn't work any more, details in comments near end:

[code]

[2014-09-08 11:48] ArturSoler opened #984 "Got "comprehension not supported on update" error message, but was using a single table"
I got the following error message when performing an update similar to this one:

[code]

The exact error is: `scala.slick.SlickException: A query for an UPDATE statement must resolve to a comprehension with a single table -- Unsupported shape: Comprehension`

I'm using Slick 2.1.0.

[2014-09-09 16:01] masda70 opened #985 "Aggregates: sum/avg automatic return types"
Aggregate functions such as `avg` and `sum` do not always return the same type.

For instance in PostgreSQL `avg` returns a `numeric` with integer input, and a `double` with floating-point input:
http://www.postgresql.org/docs/9.4/static/functions-aggregate.html

So far slick `avg/sum` implemented via `SingleColumnQueryExtensionMethods` always return the same type as their input, and such constrai

[2014-09-10 04:23] puffnfresh opened #986 "JdbcType#OptionTypedType no longer has type with JdbcType[Option[T]]"
In Slick 2.0 I had code which looked like:

[code]

But I can't write the above in 2.1, since `optionType` just returns a `OptionTypedType[T]`, which can't be used in the `MappedJdbcType`.

From what I can tell, writing something like the above requires writing a custom `JdbcType[Option[String]]` type, which seems like it'll be very tricky.

[2014-09-17 00:01] #481 closed, assigned to nobody

[2014-09-19 13:14] fommil opened #991 "please release 2.9.2 and 2.9.3 builds of scalaquery"
In ENSIME we are maintaining support for scala 2.11, 2.10 and 2.9 projects (with minor changes in the branches).

However, scala 2.9.x requires separate releases per point release due to binary incompatibilities and there is no 2.9.2/2.9.3 build of scalaquery.

This should be a simple case of

[code]

on the last 2.9 tag you have.

Without 2.9 support, we will have to drop down to `JdbcTemplate` a

[2014-09-23 22:04] vikasdp opened #993 "Slick ddl create tables order with foreign key dependency on other tables don't work"
running ddl slick throws sql exceptions due to it trying to create tables which have foreign key on other tables which aren't yet created. details are at http://stackoverflow.com/questions/25983759/slick-ddl-create-table-order-with-foreign-key-dependency-on-other-tables

[2014-09-26 09:37] gfduszynski opened #994 "IntelliJ: Highlighting error for compilled query"
[code]

IntelliJ highlights both arguments of compiledQuery and states that "Application does not take arguments".
IntelliJ resolves compiledQuery type to "Nothing". However I'm able to build and run just fine.
Any ideas how to fix it ?

IntelliJ 13.1.4 Community Edition + Scala plugin 0.41.2

[2014-09-30 10:29] #991 closed, assigned to nobody

[2014-10-01 19:52] nemanja-stanarevic opened #997 "ReturningInsertInvoker shows inconsistent behavior on insertOrUpdate"
Expression like -

[code]

Returns `Some(id)` if insert was triggered and `None` if update was triggered. In both cases `user.id == None`.  Even though PK (`user.id`) is not supplied, update is triggered due to violation of unique constraint on another field (e.g. `user.email`).

Ideally, the expression should return `Some(id)` in both insert and update scenarios.

Using MySql Java Driver 5.1.32 a

[2014-10-02 14:35] Pyppe opened #998 "PSQLException querying with custom optional MappedColumnType"
Given:

[code]

Will throw exception at runtime:

[code]

IMO this should work with custom types as well, right?

[2014-10-03 05:12] zx80live opened #999 "Group By (including empty rows) doesn't work correctly"
Given:

[code]

I want to create a query that returns all groups with users count (including empty groups):
[code]
This is my solution with slick:
[code]

But it doesn't work correctly. It returns the incorrect amount of users for empty groups (returns users count = 1 instead of 0).

[2014-10-04 16:47] #994 closed, assigned to nobody

[2014-10-07 00:53] Kangmo opened #1000 "SourceCodeGenerator: Using "DEFAULT 0.0" or decimal type in the slick-codegen-example generates uncompilable code"
Using MySQL and Slick 2.1.0, I added a new column.

ALTER TABLE t1 ADD COLUMN i1 decimal(16,8) NOT NULL default 0.0;

However, slick code generator generates uncompilable code.

  case class ... i1: scala.math.BigDecimal = "0.00000000")

[code]

Compilation errors :

abc.scala:836: type mismatch;
[error]  found   : String("0.00000000")
[error]  required: scala.math.BigDecimal
[error]   case class

[2014-10-09 00:15] cvogt opened #1002 "Add a non-3-valued equality operator"
Like

[code]

but with option mapper support.

Also see https://github.com/slick/slick/issues/947

[2014-10-09 16:43] ergomesh opened #1003 "oracle take Sql Error"
[code]

generates

[code]

which leads too

[code]

[2014-10-10 10:27] ddt121213 opened #1004 "SourceCodeGenerator - Oracle Char type default value"
Person table schema in my Oracle is
[code]

and generated source code is
[code]

person_type column default value is Y but generated code is '
What's the wrong with me?

[2014-10-11 16:32] RodneyAtRealWineLists opened #1005 "codegen: postgres - money data type incorrect map"
codegen 2.1.0

creating the following postgres table:

CREATE TABLE test_ME_money (
        id serial,
        name varchar(300),
        total money
)

generates the following code:

case class TestMeMoneyRow(id: Int, name: Option[String] = None, total: Option[Double] = None)

and i think it should be:

case class TestMeMoneyRow(id: Int, name: Option[String] = None, total: Option[BigDecimal] = No

[2014-10-17 10:25] szeiger opened #1007 "Provide a way to override generated SQL code"
As in #810 but as part of the database action monad, not the old Invoker API.

[2014-10-17 11:10] szeiger opened #1008 "Add ColumnOptions for generated sequence and trigger names"
Some drivers (e.g. OracleDriver) have to generate trigger and sequence names for AutoInc columns. There should be ColumnOptions to specify custom names for those.

(Also see Typesafe suport ticket https://support.typesafe.com/agent/case/3696)

[2014-10-21 10:59] cvogt opened #1009 "Put columns that are not valid identifiers into backticks"
https://groups.google.com/d/msgid/scalaquery/93e53bec-9fdb-4f31-938f-12106325b0cc%40googlegroups.com?utm_medium=email&utm_source=footer

[2014-10-21 11:35] He-Pin opened #1010 "provide sbt plugin for generate code"
currently ,the sbt integration not that easy to use,how about provide an sbt plugin?

[2014-10-21 11:48] He-Pin opened #1011 "compiled query should support update"
Hi,this may be the issue of
https://groups.google.com/forum/#!topic/scalaquery/91D2GXQVm_w

if this is not an issue,then how about provide some example in the slick dev guide?

[2014-10-21 16:12] #513 closed, assigned to nobody

[2014-10-21 16:26] #1010 closed, assigned to nobody

[2014-10-21 18:36] #1011 closed, assigned to nobody

[2014-10-22 15:15] cvogt opened #1012 "document how caching for CRUD sql works for compiled queries"
also see https://github.com/slick/slick/issues/1011

I think this was also discussed on the ML, but I can't find the topic right now.

[2014-10-30 15:01] majkiw opened #1015 "Updating multiple rows with different values"
In our application we need to update multiple rows at once. Each row gets a different value.
Like

[code]

Example taken from discussion on Stack Overflow: http://stackoverflow.com/a/18799497/348333

We obviously want to execute this in a single query with Slick.

We are willing to contribute to Slick, but guidance would be appreciated.

Possible approach:
1. Map rows to nested tuple (this already

[2014-11-04 22:19] ErunamoJAZZ opened #1016 "issue migrating to slick 2.0"
Hello.

I'm try migrate to Slick 2.0, and now all compile, but, i have a exception with a query: `[SlickException: JdbcProfile has no TypeInfo for type {s2: String/VARCHAR(254)}]`.

i read this: https://github.com/slick/slick/issues/794 but i dont understand were are the error for me. I'm using pg-slick, all strings are defined like `Option[String]`, and the query is a simple filter... i searching

[2014-11-04 23:22] narigon opened #1017 "[anorm] BigInt passed as parameter generates error on the SQL executed"
I have a table with a bigint(20) unsigned column.
I have a query that does a bitwise MySQL operation
[code]
When I execute this query with Anorm:
[code]
This does not apply the WHERE condition and yelds something like this in MySQL logs (adapted from own error logs):
[code]

[2014-11-05 20:05] asflierl opened #1018 "getOrElse in conjuntion with union causes query compilation failure"
Hi,

I am not completely sure what to make of this but I have a "getOrElse" on a nullable column in a query that i "union" together with another query and the query compiler throws an error at me.

Maybe this is some kind of very fundamental limitation that I am not aware of but from my current point of view, it looks suspiciously like a bug. Any help would be greatly appreciated.

I have a (hopef

[2014-11-13 14:12] He-Pin opened #1019 "dynamic create tables should be supported ,maybe by something like this"
I think something like this will be nice
pre

[code]

after

[code]

then we could have

[code]

and this

[code]

I found this use case when I trying to using slick to auto create a table day by day

update,for fix the compile error when using default parameter.
via this

[code]

and

[code]

I have tested it ,works greate

[2014-11-14 04:01] funayama-wz opened #1020 "Doc site Slick Customized Codegen Example not found"
In this page, http://slick.typesafe.com/docs/

* Slick Customized Codegen Example

will response “404 Not Found”.

maybe 'https://github.com/slick/slick-codegen-customization-example' is correct.

Thank you.

[2014-11-18 11:07] #1019 closed, assigned to nobody

[2014-11-18 13:44] ericschmall opened #1022 "Codegen Database View"
Hi,

is there a possibility to generate code from database views? If there is, could someone push me in the right direction? If not, will this be a feature in the future?

Thanks,
Eric

[2014-11-18 14:13] #1022 closed, assigned to nobody

[2014-11-22 07:44] djx314 opened #1023 "Can slick support MS Access Database by UCanAccess ?"
I use slick in my work. Usually I must work with MS Access in the old project In large part because I am a Chinese. I want to do some things with MS Access by using slick. But I get that AccessDriver is deprecated and will remove. Is there any way to support MS Access ?

[2014-11-30 08:38] awhitford opened #1025 "Example of Enumeration"
I am unclear if an Enumeration is supported?
Is there an example?

[2014-11-30 08:40] awhitford opened #1026 "Support Java 8 LocalDate, LocalTime, ZonedDateTime"
Rather than only supporting Date and Timestamp, it would be great to see Java 8's LocalDate, LocalTime, and ZonedDateTime supported.  (Their immutability makes them superior to avoid some bugs.)

(Update by @cvogt: This is being worked on in this PR: https://github.com/slick/slick/pull/1349 )

[2014-12-08 16:08] tminglei opened #1028 "Can't extend class `Table`"
Hi @szeiger / @cvogt ,

I'm trying to add postgis topo support to `slick-pg` ([#108](https://github.com/tminglei/slick-pg/issues/108)).

To implement that, I have to resolve a problem firstly: supporting pg composite's field access.
(http://www.postgresql.org/docs/9.3/static/rowtypes.html#AEN7383)

To generate parentheses wrapped codes for pg composite's field accessing, I realized that I should u

[2014-12-13 10:22] He-Pin opened #1030 "provide insert all with ignore for mysql"
when do insertAll,whit default if it fail ,no one in the batch is inserted.
this user case should be some unexpected issue.like the mysql is utf8 but the user provide some emoji in the context which should be utf8mb4.

I encounter this issue and can not quick fix this,and as a  work around fallback to using the session.conn and do it via jdbc

[2014-12-14 02:51] tek opened #1031 "crash when inserting with AutoInc return using sqldroid"
[test case repo](https://github.com/tek/slick-android-testcase)

I'm using the sqldroid driver on android, which works fine, except when inserting data via the `returning` function like in the test case:

[code]
The first insert works, but the second one results in the following exception:

[code]

Does this mean that the sqldroid driver doesn't support returning AutoInc values after insert, or is

[2014-12-18 15:31] moreindirection opened #1032 "Ordering of "take" and "sortBy" leads to totally different queries"
I was tracking down a bug in a project today and noticed that the following Slick expressions appear to return different results:

The only difference in the two Slick expressions is the ordering of `take` and `sortBy`'. However, the first query sorts by date and limits the result to the first 200 elements of the entire sorted query. The second query limits the (unordered) result of the query to 2

[2014-12-18 16:43] #1032 closed, assigned to nobody

[2014-12-30 10:09] Raymond26 opened #1035 "Index with asc/desc column"
Is there a way to specify ascending/descending on a column in an index?

ex:

[code]

Getting an error like this when I try that:

[code]

[2015-01-03 14:43] olivergg commented on #906
@nafg  yep, that was my first idea, but I really don't know how to do that given the current code generation implementation. What about the 3-layers split ? Can you give me an example on the Category+Post tables.
BTW, I also think one could improve the documentation about contributing to the codegen project...writing a Unit test is not that difficult, but it took me a while to get it working.
[cod

[2015-01-04 08:48] msarti commented on #92
+1

[2015-01-06 20:30] n3ziniuka5 opened #1036 "Unable to get materialized result with new API"
I am using slick 3.0.0-M1 with scala 2.11.4
I use slick with PostgreSQL and I import the new api everywhere: `import scala.slick.driver.PostgresDriver.api._`

I have a users table mapped like this
[code]

The query below runs ok and returns the expected result:
[code]

However this query produces a compile error:
[code]
The error:
[code]

The query result returns `StreamingDriverAction` and lookin

[2015-01-07 06:43] #1036 closed

[2015-01-07 06:44] n3ziniuka5 commented on #1036
Was an issue with my methods return type actually, the error just made it unclear.

[2015-01-08 13:40] hvesalai commented on #809
The default behavior of postgresql is to fetch everything. This means that `.iterator` will fetch everything and OOM on big tables.

[2015-01-08 17:04] mweiden opened #1038 "Cannot access java.sql.Statement options."
Given that objects implementing the interface `java.sql.Statement` nor methods that wrap this interface are exposed to the users of the Slick API, several parameters that affect query execution are not available.

An example of this is the Statement's `query timeout` parameter. This makes working around certain issues difficult, such as the one below:

http://forums.mysql.com/read.php?39,599209,59

[2015-01-08 19:00] cvogt commented on #1038
I think better access to the underlying JDBC layer becomes increasingly asked for. @szeiger you suggested that this could be looked at again with the new API. So I assigned it to 3.1.0 for now.

[2015-01-09 00:25] cvogt commented on #1035
Not at the moment

[2015-01-09 00:27] cvogt commented on #96
distinct is still not in

[2015-01-09 01:25] cvogt commented on #1028
I suppose this is one of the cases, where you need to open a PR against slick that changes things in order to get your stuff to work.

[2015-01-09 08:37] mweiden commented on #1038
Thanks @cvogt

[2015-01-10 14:46] cvogt opened #1040 ".delete does not work for JdbcProfile"
[code]

And `queryToDeleteInvoker(query).delete` leads to `QueryExecutor.this.profile.simple.Query[T,F,C] [error] (which expands to) scala.slick.lifted.Query[T,F,C] [error] required: scala.slick.lifted.Query[QueryExecutor.this.profile.Table[_], _, ?] `

See http://stackoverflow.com/questions/27730397/how-to-write-generic-query-executor-method-for-delete?noredirect=1#comment44148425_27730397

[2015-01-10 19:53] johann-abraham commented on #1015
+1, has any work been done on this?  I'm new to Slick but would be happy to help out.

[2015-01-11 22:27] al11al commented on #637
It is still same bug in MySQL. I had to create table with "TEXT", "MEDIUMTEXT" or "LARGETEXT"  with help of raw request that is apropriate to MySQL. Then I used String type in text DB columns. Other way was to override column creation in slick source generator for each db and column types that have bugs.

[2015-01-12 10:45] szeiger commented on #1040
Well, the error message makes it pretty clear what's wrong. `queryToDeleteInvoker` requires a Query[Table[_], _, _], not just a Query[Rep[_], _, _]. This is not a bug.

The new API will have the same restriction but you would probably abstract over Actions instead of Queries where this won't be an issue.

[2015-01-12 10:45] #1040 closed

[2015-01-12 15:14] cvogt commented on #1040
Good point :)

[2015-01-13 08:49] jonoabroad opened #1043 "SQLiteDriver treats Timestamps incorrectly"
The [Driver](https://github.com/slick/slick/blob/master/src/main/scala/scala/slick/driver/SQLiteDriver.scala)  has the following comment on lines 242 to 244:

    /* The SQLite JDBC driver does not support the JDBC escape syntax for
     * date/time/timestamp literals. SQLite expects these values as milliseconds
     * since epoch. */

and in the code they are treated as such:

    class DateJdbcT

[2015-01-13 19:00] satendrakumar06 commented on #1040
thanks @szeiger and @cvogt

It is working fine with Table[_].
 It working fine for single  table. When join mutliple table. I did not work.
Is any way do this ?

 ` def findEmpAndDeptByEmpId(id: Int) = execute {
    empTableQuery.filter(_.id === id) join deptTableQuery on (_.deptId === _.id)
  }`

Idea is do not want to write 'dbObject.withSession { implicit =>}' again and again.I want to write in

[2015-01-14 01:33] cvogt commented on #1040
it is a good approach to not write session everywhere and keep Queries as long as possible. After that you can currently return a function from Session to result or use an implicit session argument list. However this will change very soon. Slick 3 in a few weeks will offer a new way that gets rid of session entirely. Check out my Scala eXchange 2014 talk https://skillsmatter.com/skillscasts/5969-u

[2015-01-14 04:50] satendrakumar06 commented on #1040
@cvogt  I already watched Scala eXchange 2014 talks. Slick 3 is awesome. Slick 2.1 has been deployed on production  so I need remove duplicate code and some query optimization.

[2015-01-14 05:34] jonoabroad commented on #1043
A little more information. It could be argued that this is a bug in the SQLite driver as it is storing Timestamps with millisecond precision rather than second.  See commit [2144734](https://bitbucket.org/xerial/sqlite-jdbc/commits/21447346cb1bea4341e91232382c3b1e27a7b4d1)

A work around for this issue is to set the correct date precision in the driver properties as such:

    val props = new Prop

[2015-01-14 18:26] mustajarvi commented on #966
I encountered this one as well. In my case the compiled statement looks like this:

[code]

(The "where" clause is empty.)

[2015-01-15 17:59] mweiden commented on #1038
Does anyone have any ideas regarding this exception? I forked the repository and `preparedStatement.setQueryTimeout(0)` (unlimited timeout) prior to it's execution as described in the thread posted above ^^, but still see the following

[code]

[2015-01-15 23:34] johanatan commented on #44
Any ETA on this? Is there a pull request currently in flight for review? If so, which one?

[2015-01-16 00:09] cvogt commented on #44
Coming in a few weeks. PR has been merged. Here is how it is going to look like: https://skillsmatter.com/skillscasts/5969-upcoming-in-slick-2-2

[2015-01-16 10:05] yadavan88 opened #1045 "Remove alias from the generated queries"
I am using Slick for database operations in my application (using Postgres as the database). I am facing some issues while trying to build generalized queries.

def ++= (selectStatement:String) ={
    this.customSelectStatement = Some(selectStatement + " E where " +  getQuery(filterPropertyList))
  }

filterQuery ++= (TableQuery[SkillTable] innerJoin TableQuery[SkillCategoryTable] on (_.skillCateg

[2015-01-17 14:57] skynet opened #1046 "Firefox issue with <video> canvas"
If one of the slides is a `<video>` canvas, video won't play in Firefox. Works fine in Chrome.

[2015-01-17 15:56] cvogt commented on #1046
wrong library. This is Slick the database library for Scala.

[2015-01-17 15:56] #1046 closed

[2015-01-17 16:01] skynet commented on #1046
Thanks.

[2015-01-18 16:50] arivero commented on #956
@strelec my only guess is that 254 is the limit for Pascal strings (limit is 255) that are C-compatible (need a zero byte at the end).

[2015-01-20 20:51] pathikrit commented on #963
+1

[2015-01-20 21:09] pathikrit commented on #963
[MYSQL does not support `update-returning`](https://github.com/slick/slick/issues/963) but [Postgres does](http://www.postgresql.org/docs/9.3/static/sql-update.html). So, this has to be driver specific.

[2015-01-21 20:45] rfranco opened #1049 "[3.0.0-M1] Action is ambiguous"
I'm trying Slick 3 with Play and there is ambiguous name and i think that will be very common complaint as you can see in my simple example.

[code]
[code]

Maybe it's better change the Action name for other thing.

[2015-01-21 21:46] szeiger commented on #1049
Yes, this is is already on the roadmap for 3.0. Also see the comments on #1021. The only problem is what to use instead of `Action`. My current thinking (which will have to come to a conclusion really soon) is that `IO` is the best alternative. It would conflict with scalaz but it's probably not as big of a problem (and I expect that scalaz users would be comfortable renaming one of the types to d

[2015-01-21 23:02] jessebentz opened #1050 "None value in query produces "= null" sql which is not compatible with postgresql, should be "is null""
http://www.postgresql.org/docs/9.4/static/functions-comparison.html

[2015-01-22 00:23] cvogt commented on #1049
@szeiger DB instead of IO :)? Or DS for Data Source? Or Slick[...]?

[2015-01-22 01:40] rfranco commented on #1049
i agree that `IO` is not a good name. Need a name that give a idea of flow of action.

[2015-01-22 08:53] szeiger commented on #1049
@rfranco Except for being tied to a specific database, it matches a standard `IO` type (from Haskell or scalaz) in functionality. Instances of this type are universally called "I/O Actions", at least I couldn't find any other names on the web.

@cvogt Since everything in Slick is about DB or DS or Slick, such a type name wouldn't confer any useful meaning.

[2015-01-22 10:37] szeiger commented on #1049
The best suggestion that came up during brainstorming here at the team meetup is "Task"

[2015-01-22 18:26] nafg commented on #1049
DBAct (short for Action)?

On Wed, Jan 21, 2015, 8:40 PM Ricardo Franco <notifications@github.com>
wrote:

[2015-01-23 06:01] mediavrog commented on #1030
+1

insertOrUpdateAll relevant

[2015-01-23 11:15] szeiger commented on #1050
All operators that can abstract over Option and non-Option types implicitly operate in an Option context, so `foo === None` (assuming foo is an Option) is really `foo.flatMap(a => None.flatMap(b => a == b))`, which always valuates to `None`. Producing `= null` in SQL is consistent with this.

[2015-01-23 11:15] #1050 closed

[2015-01-23 12:51] szeiger commented on #1045
Mixing manually generated SQL and compiled SQL is not supported in general. If you really want to go this way, you'll have to modify the driver. Take a look at the methods at the top of JdbcStatementBuilder like `def createQueryBuilder(n: Node, state: CompilerState): QueryBuilder = new QueryBuilder(n, state)`. The compiler state contains a SymbolNamer which provided these aliases. You can use it t

[2015-01-23 12:51] #1045 closed

[2015-01-23 13:03] szeiger commented on #1031
It's a SQLDroid limitation: https://github.com/SQLDroid/SQLDroid/blob/master/src/main/java/org/sqldroid/SQLDroidConnection.java#L325-335

You should open an improvement request there.

[2015-01-23 13:03] #1031 closed

[2015-01-23 13:36] szeiger commented on #1030
Can you elaborate on the use case? Methods like insertAll are supposed to be atomic, so if one element fails, the transaction is aborted. When a server-side feature is used, we have no control over this. It should always fail atomically (and if it doesn't, we need to wrap it in a client-side transaction to make it do so). A client-side emulation forces a transaction to make failures atomic but sin

[2015-01-23 13:43] szeiger commented on #1028
At first glance I'd say extending FieldSymbol would be the right way to go. It's not final, so you should be able to do this. This will ensure that your symbols are correctly recognized as single columns in the query compiler. You could use a non-standard SymbolNamer to create the correctly quoted identifiers for these fields.

[2015-01-23 13:48] szeiger commented on #1025
It should be possible with custom type mapping (or a JdbcType implementation if you want to use a native database enumeration type) but we don't provide any convenience methods for this at the moment.

[2015-01-23 13:59] szeiger commented on #923
Yes, I think group_concat would be a welcome addition.

[2015-01-23 14:13] szeiger commented on #961
We need to consider this for the new comprehension fusion algorithm. First-class support for outer joins in the `Comprehension` node is planned for this anyway.

[2015-01-23 14:55] mgosk commented on #998
+1

[2015-01-23 15:07] szeiger commented on #965
You'll have to use something like "insert ... returning ..." in SQL. The JDBC abstraction for returning generated keys is not supported.

[2015-01-23 15:37] szeiger commented on #1023
Interesting, I didn't know about UCanAccess. It wasn't around yet when I last checked for alternative drivers. If I understand it correctly, it is a database engine that uses Access database files directly, not an interface to the official Access engine (like our current ODBC-based approach), so I'm not surprised that Slick's AccessDriver doesn't work.

[2015-01-23 15:40] #985 closed

[2015-01-23 15:59] fommil opened #1052 "bring back SQLServerDriver"
https://github.com/slick/slick/blob/b70a2c7289e9aa4f6e12cf7426c5a91d47e1b4bf/src/main/scala/scala/slick/driver/SQLServerDriver.scala

The decision to remove this file and put it behind a paywall was just insane from a community perspective. Please put it back.

[2015-01-23 16:18] szeiger commented on #1017
You may want to try Slick instead of Anorm ;-)

[2015-01-23 16:18] #1017 closed

[2015-01-23 16:37] szeiger commented on #942
Yes, you can mix MappedTo into a value class. There's a test case for this in RelationalMapperTest.

[2015-01-23 16:39] #968 closed

[2015-01-23 16:40] szeiger commented on #968
Can't really do anything better here.

[2015-01-23 16:53] szeiger commented on #998
Looks like PostgreSQL needs to know the type of a value even for a null check. In this simple case it would be better to do the check on the client side anyway (so you don't have to run a query when `number.isEmpty`) but there may be more legitimate cases.

[2015-01-23 17:10] szeiger commented on #1016
This looks like a bug in the column flattening algorithm in the query compiler. Does it still fail in 3.0.0-M1? Those parts of the compiler have changed a lot when I added support for nested columns and I remember fixing a bug with these symptoms. Please reopen this ticket with a reproduction if it's still relevant. There's not much I can do without a snippet.

[2015-01-23 17:10] #1016 closed

[2015-01-23 17:24] szeiger commented on #1052
There are no plans to support closed-source database systems in the open-source core of Slick. Feel free to take the old version and port it to a newer Slick release (it's BSD-licensed after all).

[2015-01-23 17:27] fommil commented on #1052
We are forced to do that. Procurement orders in corporate environments are harder to obtain than time to rewrite entire frameworks. This typesafe decision is absolutely insane and is a massive own goal.

We would have contributed our findings about MS SQL intricacies back to typesafe but now we can't and we will actively prohibit you from including it in your commercial offering.

[2015-01-23 17:31] szeiger commented on #1003
Can you provide a snippet to reproduce this bug?

[2015-01-23 17:36] slorber commented on #1025
@szeiger thanks. Even if it's not supported out of the box it could be nice to give us some insights for this

@awhitford I've just tried the following:

[code]

It seems to work with Slick 2.1!

See also http://stackoverflow.com/questions/19273805/how-to-persist-enum-value-in-slick

[2015-01-23 17:42] fommil commented on #519
I actually had, in my personal TODO list, an item to automatically create trivial `GetResult` instances for basic case classes using shapeless (in particular the fancy new 2.1 TypeClass stuff). In light of #1052 I've just scratched it off the list.

[2015-01-23 18:15] szeiger commented on #1020
Thanks, fixed.

[2015-01-23 18:15] #1020 closed

[2015-01-23 18:16] cvogt commented on #1052
Typesafe is funding the development of Slick, the money got to come from somewhere. Offering drivers for commercial database systems only as part of a commercial offering seems reasonable to me. To my (potentially outdated) knowledge the fees for the required Typesafe subscription are far lower than the fees to run these commercial database systems in production. This may harm Slick adoption, but

[2015-01-23 18:18] cvogt commented on #1052
Plus as @szeiger pointed out it is a hurdle, not necessarily a blocker if you really can't pay for the subscription.

[2015-01-23 19:44] fommil commented on #1052
@cvogt you don't get it. Even if it was $5 for a license in perpetuity, the admin involved in getting it approved in a corporate environment is insurmountable. I can understand wanting to charge for the Oracle driver, but the MS one was already available and it has been retracted.

I had quite a hairy moment with my customer today when we realised that the driver was removed. It basically blocks S

[2015-01-23 20:55] szeiger commented on #1038
Connection parameters can be set easily with the new API as long as you don't mind pinning a session, e.g.:

    def withSchema[E <: Effect, R, S <: NoStream](s: String, a: EffectfulAction[E, R, S]) =
      SimpleJdbcAction { ctx =>
        val c = ctx.session.conn
        val old = c.getSchema
        c.setSchema(s)
      }.flatMap { old =>
        a.andFinally(SimpleJdbcAction(_.session.conn.set

[2015-01-23 21:41] cvogt commented on #1052
Sorry for the pain you suffered. @fommil For the record, I am not with Typesafe. I was with EPFL and now I am just an external, non-profit, open-source contributor to Slick. I was not involved in any of the marketing decisions.

[2015-01-23 21:56] fommil commented on #1052
:smile:

[2015-01-23 22:16] szeiger commented on #568
I think it should be changed to use Config.forName in 3.0

[2015-01-24 03:37] hepin1989 commented on #1052
@fommil  wow,you are a man of caliber, of strength, and of character .

[2015-01-24 05:03] cvogt commented on #568
I probably makes sense to just have a function that takes all config as parameters and have another one in front of it that feeds it from the config. Then people can use it with or without the typesafe config. Better modularity.

[2015-01-24 05:10] tminglei commented on #1028
Hi @cvogt / @szeiger, thanks for your nice guide!
I'll try it and keep you updated.

[2015-01-24 16:11] fommil commented on #1052
https://github.com/fommil/freeslick

[2015-01-24 21:39] szeiger commented on #568
There are lots of config parameters and there will be more in the future. The point of application.conf is that you can configure everything in a convenient way, not just a select few parameters. Type-checked Plain SQL queries also use an external config file, so you could use a single config for both.

[2015-01-24 22:26] ludwiggj opened #1054 "Tuple-based Tables.scala file generated by Codegen does not compile"
I'm playing with slick 2 and codegen, using MySql for the database. I started with the Coffee / Suppliers example from the [hello slick activator template](http://typesafe.com/activator/template/hello-slick).

I'm trying to use codegen to create a new Tables.scala file from the Coffee and Suppliers database tables, which will allow the existing client code to work e.g.

    db.withSession { implic

[2015-01-24 23:53] cvogt commented on #568
Not offering a Scala interface would be a big mistake in my eyes. One of the mistake ORM frameworks made. Config file are magical side-effects. They can be convenient, when you want to get something to work quickly with understanding as little as possible about your tool. But as one grows more experienced with a tool, magical, side-effecty things like config files stand in the way. I am ok with pr

[2015-01-25 04:31] nafg commented on #1049
Perhaps DBIO?

On Thu, Jan 22, 2015, 3:53 AM Stefan Zeiger <notifications@github.com>
wrote:

[2015-01-25 11:28] neurozen commented on #92
:+1 please

[2015-01-25 18:04] szeiger commented on #568
There is a Scala interface: Create your own DataSource for the connection pool, plus an AsyncExecutor, and pass those to Database.forDataSource. But it's not an interface that fits into `def main(args: Array[String])`. This interface to the code generator is already bad enough (5 or 7 strings in the correct order). application.conf can make this simpler and much more powerful.

[2015-01-25 18:10] cvogt commented on #568
I see. I meant something else. Would still be good to be able to run the codegen stand-alone and with potentially different config than the main project. How about allowing an override location for the config file as one of the Array[String] arguments?

[2015-01-26 01:57] djx314 commented on #1023
I read the UCanAccess's documentation again. I knew that the UcanAccess is using Hsqldb to transform the sql to some basic operation that Jackcess can do(It uses java to handle the access database's file like h2's embedded mode). It's not a pure sql interface.  I think what it can do is limited, like it can't resolve the column alias in the demo I have showed. So it disagreed with silck.

[2015-01-26 03:18] cvogt commented on #1023
Try using the hsqldb slick driver with the uaccessdb jdbc driver. Does that work better?

[2015-01-26 04:08] cvogt commented on #1038
Would init/cleanup allow to catch the exception when the timeout times out? How about being able to provide a decorator function to the one using the preparedstatement instead?

[2015-01-26 07:21] djx314 commented on #1023
I changed the
[code]
to
[code]
and it reported almost same error:
[code]
and the sql is
[code]
I think ucansuccess don't support table alias.
Because
[code]
works well but
[code]
reported the error(see the code above).

[2015-01-26 07:37] cvogt commented on #1023
If it doesn't support aliases, you are likely out of luck. Sorry.

[2015-01-26 07:58] ijuma commented on #568
You can use -Dconfig.resource or -Dconfig.file to override the config used when using Typesafe config.

[2015-01-26 10:15] szeiger commented on #1023
Well, not having an aliasing syntax shouldn't be that hard to work around. I can't see a simple way to add it directly to the code generator but an extra compiler phase could do it: Recurse over the tree, collecting all Symbols that are introduced in FROM clauses (of Comprehension nodes), then do a recursive tree transformation that (1) drops the Symbols from the FROM clauses and (2) removes them

[2015-01-26 10:27] szeiger commented on #568
You'll still have to pass a config path to the app. Typically your databases config will be in application.conf, so it's not at the top level.

[2015-01-26 10:36] #854 closed

[2015-01-26 10:36] #881 closed

[2015-01-26 10:36] #1009 closed

[2015-01-26 10:58] szeiger commented on #1038
Timeouts have to be handled with `cleanUp` (or `andFinally`). A decorator would have to install and remove custom parameters for each statement separately. init/cleanup functions only need to run once per decorated Action.

[2015-01-26 11:38] djx314 commented on #1023
I remove all the double quotation of the column names. it looks like that ucanaccess can parse the sql. But I don't have the access 2003 at home, Let me have a try tomorrow.
Here's the code,
'''
http://git.heshan.gov.cn:8080/gitbucket/djx314/slickAccess
'''
But it's in China, I am not sure you can have a look at it. If my test successes, I will push it  to github.

[2015-01-26 12:31] szeiger commented on #978
Duplicate of #854

[2015-01-26 12:31] #978 closed

[2015-01-26 14:01] sibex commented on #1052
@szeiger @fommil Microsoft would probably express this quite similar:
There are no plans to support open-source systems for our closed-source database.

Typesafe, don't be like Microsoft. Please.

[2015-01-26 14:10] fommil commented on #1052
What makes this doubly insane, is that I've had to give up my weekend to create the skeleton of a project that can deploy ONE TRIVIAL FILE so that this can remain free software. I'm going to have to give up many more weekends to maintain release branches that match the slick release schedule and keep pace with all the trivial changes to the driver API with each release. When all of this could easi

[2015-01-26 16:14] cvogt commented on #1052
I'll bring this thread to Typesafe's attention to make sure they hear your positions.

[2015-01-26 16:16] szeiger commented on #1038
Forget what I said about the decorator, I think it should work.

[2015-01-26 16:17] fommil commented on #1052
@cvogt thanks!

[2015-01-26 16:19] cvogt commented on #1052
done

[2015-01-27 01:52] mdedetrich commented on #519
@fommil , how exactly is #1052 related to this?

[2015-01-27 02:10] cvogt commented on #1038
a325f5e looks great. A test case using something like query timout would help demonstrate the usage. I think a lot of people will be happy about this.

[2015-01-27 02:18] cvogt commented on #809
closed in favor of #1038, which will likely fix this in Slick 3.0.0

[2015-01-27 02:19] cvogt commented on #812
closed in favor of #1038, which will likely fix this in Slick 3.0.0

[2015-01-27 02:19] #812 closed

[2015-01-27 02:23] cvogt commented on #1023
@szeiger removing aliasing where possible would also help debugging queries and for cases like this one https://github.com/slick/slick/issues/1045   I also bet that it would make a lot of people happy who look at the generated queries the first time. If it is easy to implement it is probably worth it!

[2015-01-27 02:40] cvogt commented on #965
would this allow access to the generated keys function https://github.com/slick/slick/issues/1038 ?

[2015-01-27 02:43] cvogt commented on #1050
also see https://github.com/slick/slick/issues/757

[2015-01-27 03:44] djx314 commented on #1023
Oh! I found that it's not the alias's problem. Just the double quotation!!!
I created a *.mdb file and created the tables by MS-Access 2003(not use slick's ddl). Then I created a bit complex query by slick. Of course, it reported an exception. Then I found the sql in the log, and replace all the " to ` , now it works! Because ucanaccess will parse the " as the start of string.
Here's the code:
[co

[2015-01-27 03:48] cvogt commented on #1023
You can probably fix that by creating your own hsqldb subtype and override def quoteIdentifier like this: https://github.com/slick/slick/blob/58fab9017a56c21b49811ea0d900c910b40cd50d/src/main/scala/scala/slick/driver/MySQLDriver.scala#L82

[2015-01-27 04:10] djx314 commented on #1023
Great! Just
[code]
And it works well! Thanks very much.

[2015-01-27 04:58] cvogt commented on #1023
Awesome. We should consider keeping Access support based on this @szeiger  /cc @bhudgeons

[2015-01-27 05:19] hvesalai commented on #1038
Related to #809, we would need a way to set the fetchsize per request, so it would vary. Does this method allow you to set the statement parameters for each statement separately, or is it like the commit message says, the same for all?

[2015-01-27 05:23] cvogt commented on #1038
@szeiger How about an Action decorator that sets Statement parameters only for the contained actions?

[2015-01-27 05:27] hvesalai commented on #1038
We use this code at the moment
[code]

[2015-01-27 07:43] fommil commented on #519
That's really quite obvious.

[2015-01-27 08:58] szeiger commented on #1038
Well, it applies to whatever you decorate. Except in special cases like DDL statements or emulated insertOrUpdate Actions, this means down to the individual statement level.

[2015-01-27 08:59] szeiger commented on #809
Reopening. This warrants special support, you shouldn't have to drop down to JDBC.

[2015-01-27 09:15] szeiger commented on #965
No, you could use #1038 to request keys but you wouldn't be able to read the keys back.

[2015-01-27 12:00] szeiger commented on #1023
So far the options for Access support were:
- Drop it when we switch to Scala 2.12 / Java 8
- Resurrect it as a commercial driver in slick-extensions, based on one of the commercial Access driver solutions for Java, if there's demand for it

UCanAccess opens up a new path. Someone would have to try a proper build integration, i.e. create a new AccessDriver (either based on the old one or HsqldbDri

[2015-01-27 16:40] szeiger commented on #980
Master is on 2.11.4 now.

[2015-01-27 16:40] #980 closed

[2015-01-27 16:42] #816 closed

[2015-01-27 18:09] cvogt commented on #809
+1

[2015-01-27 18:09] cvogt commented on #1038
Test cases demonstrating these use cases would be good.

[2015-01-27 18:50] hvesalai commented on #809
Just to make sure it get's noted: besides fetchSize != 0, autocommit must be turned off for postgres to actually do batching. See #1038 for our code.

[2015-01-27 20:57] szeiger commented on #1038
Usage is exactly the same as for the other statement parameters (see JdbcMiscTest), it's just not easily tested because you cannot observe these changes directly in a testable way.

[2015-01-28 09:01] szeiger commented on #959
There's no way to statically prevent this from compiling. The issue with composite primary keys is tracked as #966

[2015-01-28 09:01] #959 closed

[2015-01-28 09:06] szeiger commented on #585
Fixing for new 3.0 API only, see #1007

[2015-01-28 09:06] #585 closed

[2015-01-28 10:10] szeiger commented on #917
Unassigning myself because I don't even know what this means...

[2015-01-28 10:13] szeiger commented on #916
Needs proper API instead, as in #809

[2015-01-28 10:13] #916 closed

[2015-01-28 10:21] szeiger commented on #895
Please add a description or close this ticket.

[2015-01-28 10:31] szeiger commented on #594
Reported as fixed in https://sourceforge.net/p/hsqldb/bugs/1352/, so I'm closing this ticket, too.

[2015-01-28 10:31] #594 closed

[2015-01-28 10:48] #435 closed

[2015-01-28 10:59] szeiger commented on #625
Not dropping Scala 2.10 support for now. Rescheduling to 3.1.

[2015-01-28 11:01] #424 closed

[2015-01-28 12:06] szeiger commented on #716
Fixed by the new Option handling in 3.0

[2015-01-28 12:06] #716 closed

[2015-01-28 12:10] szeiger commented on #815
n/a to the new API

[2015-01-28 12:10] #815 closed

[2015-01-28 12:12] szeiger commented on #743
The new Action API has separate methods `+=`, `insertExpr` and `insert` (for Query and CompiledQuery)

[2015-01-28 12:12] #743 closed

[2015-01-28 12:12] #387 closed

[2015-01-28 12:13] #388 closed

[2015-01-28 12:13] #327 closed

[2015-01-28 16:53] cvogt commented on #895
no idea what this meant

[2015-01-28 16:53] #895 closed

[2015-01-28 17:17] cvogt commented on #917
If I remember correctly this is the following: When you abstract over drivers you will have to use BaseTypedType instead of TypedType, but this isn't explained anywhere.

[2015-01-29 09:40] szeiger commented on #71
This could be implemented for Actions instead.

[2015-01-29 10:38] #94 closed

[2015-01-29 10:38] #218 closed

[2015-01-29 10:38] #1007 closed

[2015-01-29 10:38] #1038 closed

[2015-01-29 10:39] szeiger commented on #956
Duplicate of #129

[2015-01-29 10:39] #956 closed

[2015-01-29 10:43] szeiger commented on #1049
I looked at some more related stuff, including Doobie which has monadic APIs at different levels of JDBC and all type names there end with IO, i.e. TransactionIO or ConnectionIO. In this light `DBIO` looks better and better to me. It's short, it has "IO" in it and we can still use the "action" terminology.

[2015-01-29 10:53] szeiger commented on #191
Also see #940

[2015-01-29 11:26] #173 closed

[2015-01-29 11:49] szeiger commented on #194
Duplicate of #967

[2015-01-29 11:49] #194 closed

[2015-01-29 11:54] #543 closed

[2015-01-29 12:17] szeiger commented on #1018
Needs to be verified on 3.0 with the new Option implementation

[2015-01-29 15:01] szeiger commented on #550
This feature is deprecated in 3.0 and will be removed in 3.1.

[2015-01-29 15:01] #550 closed

[2015-01-29 15:06] szeiger commented on #754
This shouldn't compile any more with the new API in 3.0. The equivalent of `first` gives you an `Action` for which there is no Shape.

[2015-01-29 15:06] #754 closed

[2015-01-29 15:09] szeiger commented on #943
Closing as wontfix. This should be done as a separate project.

[2015-01-29 15:11] szeiger commented on #973
Closing as wontfix. We'll have to move to Typesafe's new documentation platform eventually.

[2015-01-29 15:16] szeiger commented on #982
Fixed by #989, right?

[2015-01-29 15:18] szeiger commented on #993
Closing since we have no way to reproduce this issue.

[2015-01-29 15:18] #993 closed

[2015-01-29 15:21] #979 closed

[2015-01-29 15:22] nmartynenko commented on #982
@szeiger I'm afraid, no.

There seems no possibility to test PG code generation.

I mean, it's easy to add a feature, but hard to test.

I asked you about tests [here](https://github.com/slick/slick/pull/989#issuecomment-59015966), but you might have missed it.

If you could give me direction, how I need to write a test for that, I could fix that.

Thanks in advance.

Cheers, Nick.

[2015-01-29 15:23] szeiger commented on #827
Available in 3.0.0-M1

[2015-01-29 15:23] #827 closed

[2015-01-29 15:25] szeiger commented on #623
Rescheduling to 3.1. Rewriting the last few phases of the query compiler to fix these issues should become one of the big topics for 3.1.

[2015-01-29 15:25] aloiscochard commented on #827
I'm sadly not using Slick anymore at my new job, but I'll surely find an excuse to bring it it and give that a try ;)

Great stuff @szeiger and @cvogt, ty!

[2015-01-29 15:30] szeiger commented on #44
Available in 3.0.0-M1

[2015-01-29 15:30] #44 closed

[2015-01-29 15:49] szeiger commented on #823
Fixed in #828

[2015-01-29 15:49] #823 closed

[2015-01-29 15:51] szeiger commented on #505
Available in master

[2015-01-29 15:51] #505 closed

[2015-01-29 15:55] szeiger commented on #367
Covered by #365 and #366

[2015-01-29 15:55] #367 closed

[2015-01-29 15:57] szeiger commented on #436
Closing for now. The information in this ticket is getting outdated. There'll eventually be a redesign of the web site driven by a rebranding (similar to the recent changes to the Akka and Play websites)

[2015-01-29 15:57] #436 closed

[2015-01-29 15:58] szeiger commented on #459
The old API is deprecated in 3.0 and will be removed in 3.1. Not relevant anymore.

[2015-01-29 15:58] #459 closed

[2015-01-29 16:09] #129 closed

[2015-01-29 16:37] #972 closed

[2015-01-29 18:38] szeiger commented on #982
@nmartynenko What's still missing? You did add tests in #989 and you added them in the places I would have suggested (CodegenTest/CodegenRoundtripTest).

[2015-01-29 21:50] papauschek commented on #623
Glad to hear that this issue is being picked up :)

[2015-01-30 00:31] cvogt commented on #979
@szeiger but this isn't implemented for the Action monad, right? So shouldn't this stay open and be basically refocused on the Action?

[2015-01-30 00:31] cvogt commented on #973
I may still do this at some point regardless of typesafe documentation. Let's leave it opened assigned to me with unclear milestone

[2015-01-30 00:33] cvogt commented on #943
I may give this a shot some day.

[2015-01-30 00:34] cvogt commented on #943
Agree, that this should be an extension to Slick, not part of Slick itself. But let's still track it here for now.

[2015-01-30 00:38] cvogt commented on #1049
I like DBIO

[2015-01-30 01:04] rfranco commented on #1049
+1 :+1:

[2015-01-30 09:36] nmartynenko commented on #982
Hi @szeiger.

Please check #1058 PR. Hope that helps.

Cheers, Nick.

[2015-01-30 10:16] Raymond26 commented on #1035
I'd be interested in contributing to this, but I haven't written code for scala open source projects before!  Any tips on where I should get started?

[2015-01-30 12:32] szeiger commented on #979
ControlThrowable doesn't really make sense in the Action API.

In fact if you did get a ControlThrowable in there (or some other Exceptions which are not really fatal but are treated as such by scala.control.NonFatal), the caller would never receive it (i.e. the Future wouldn't complete). I consider this a design problem of NonFatal (it conflates "you don't normally want to catch this" with "it le

[2015-02-02 02:15] nafg commented on #1028
You can extend case classes. You just can't (or shouldn't) make one case
class extend another case class.

On Sat, Jan 24, 2015, 12:10 AM 涂名雷 <notifications@github.com> wrote:

[2015-02-02 02:20] nafg commented on #1023
FWIW dealiasing where possible would be a nice feature for when more
readable SQL is of interest.

On Mon, Jan 26, 2015, 5:15 AM Stefan Zeiger <notifications@github.com>
wrote:

[2015-02-02 14:46] #1049 closed

[2015-02-02 15:34] cvogt commented on #1023
Yeah. I think @szeiger plans to look at this for 3.1

[2015-02-02 15:39] szeiger commented on #1023
Avoiding aliasing is not a priority for the rewrite of the SQL phases of the compiler, but it could be a side effect (and avoiding unnecessary subqueries will already remove a lot of aliasing because it is already not generated at the top level)

[2015-02-02 15:59] cvogt commented on #979
I suppose asTry solves this

[2015-02-03 06:16] fproject commented on #583
+1

[2015-02-03 17:20] nafg commented on #1023
Great to hear!

On Mon, Feb 2, 2015, 10:39 AM Stefan Zeiger <notifications@github.com>
wrote:

[2015-02-03 21:32] szeiger commented on #540
It looks like this should be fixed. In master, the match is on `case tmd: JdbcType[_] => tmd` where `JdbcType` is defined outside of the driver cake.

[2015-02-03 21:32] #540 closed

[2015-02-04 05:00] derekhenninger commented on #1052
Typesafe invests heavily in open source.  We also select a few areas where we determine there is reasonable distinction between open source solutions and commercial software.  In the case of SQLServer (and other close source databases) we have decided that it is appropriate for us to charge for the use of the Slick-SQLServer driver.  Clearly you are paying Microsoft for SQLServer and we believe it

[2015-02-04 08:43] nafg commented on #1052
You haven't addressed Sam's complaint. It's not about cost, it's about time
to approval.

On Wed, Feb 4, 2015, 12:00 AM Derek Henninger <notifications@github.com>
wrote:

[2015-02-04 09:16] fommil commented on #1052
@derekhenninger I'm going to take this offline through TypeSafe channels. I also invest in open source and I will not be cooperating with TypeSafe until this matter is resolved. You've basically broken the implied community of trust here.

[2015-02-04 11:19] szeiger commented on #1052
@nafg We removed SqlServerDriver in Slick 2.0 which was released in January 2014. This change was officially announced in May 2013 (3 months after the release of Slick 1.0.0), giving users ample time to prepare. Users who already used it in production at that time were given a free license.

[2015-02-04 11:27] fommil commented on #1052
I'm aware of all that, it doesn't change a thing.

[2015-02-04 11:29] fommil commented on #1052
BTW, 3 months may be "ample" time for a startup to change but not realistic for a large corporation.

[2015-02-04 11:46] sibex commented on #1052
Wow! So all you are saying is that the MS-SQL users should pay for the development of the free Postgresql driver? Because Microsoft customers are rich morons and should always pay twice, for the database **and** the driver? On the other hand all the developers with fancy $3K Apple MBP are cool and shouldn't pay at all, because they are using (commercially) an open source database?

Actually the MS

[2015-02-04 11:56] fommil commented on #1052
There is also a major concern here about the freedom of the software: these things are taken for granted in OSS stacks.

My team would not use the TypeSafe proprietary "driver" for their production databases, end of story. Even if the politics and approval process was easy. We need to know the exact semantics for the SQL that is being created, and we need to be able to modify it when it breaks. Pr

[2015-02-04 12:12] szeiger commented on #1052
@sibex It is a perfectly valid choice for an enterprise to rely only on open source software and avoid proprietary software and support. If we didn't agree with this, we would not make most of our software available under very liberal licenses. However, you need to be aware of the trade-offs when you make such a decision. In particular, free software does not come with free long-term support, so y

[2015-02-04 12:21] fommil commented on #1052
We all thought that TypeSafe's business model was a free software stack with paid-for support and consultancy, including contractual proprietary development. This model is clearly not true, and I for one do not know what your game is anymore, especially when it involves closing down free software and selling licenses to proprietary software at the very core of that previously open source stack.

[2015-02-04 12:26] szeiger commented on #1052
@fommil Our main product is the Typesafe Reactive Platform, which includes certified and supported builds of our open source project, plus additional proprietary software: http://typesafe.com/products/typesafe-reactive-platform

[2015-02-04 14:04] szeiger commented on #983
This code relied on the "force insert" semantics in 2.0. Since inserting a query or expr doesn't do soft inserts even in 2.1, we should rename the methods and implement the proper semantics.

[2015-02-04 16:15] sibex commented on #1052
@szeiger I absolutely understand the implications. The price for an Oracle MySQL subscription is $10K - $30K per year and yet the full-fledged slick MySQL driver can be used in production for free. Any company using MySQL can decide on their own if they want to buy certified and supported builds from Typesafe. On the other hand if they want to use slick(-extensions) in production with any version

[2015-02-04 16:44] szeiger commented on #809
@hvesalai I think the transaction should be done in user code (just wrap it in `.transactionally`). We could do it automatically in PostgresDriver but that would mean we'd either have to universally add a `Transaction` effect to `withStatementParameters` or have PostgresDriver silently drop that effectin the return type.

[2015-02-04 17:07] hvesalai commented on #809
Yeah, definitely transaction controlled by user code. I just mean that there's a gotcha here. If you are not in a transaction, postgres will silently return you everything at once. Our code asserts that autocommit is turned off so that the developer can notice and fix the issue.

[2015-02-04 17:18] szeiger commented on #975
The same occurs in PostgreSQL but the solution will probably be different because we not generate unconstrained text columns by default in Postgres (where, unlike in MySQL, VARCHAR can be unconstrained and is identical to TEXT)

[2015-02-04 17:23] szeiger commented on #975
On second thought, since we do have an explicit `O.Length` column option, the default should always be unconstrained size if the database has a suitable type. I'll try that to see how much it breaks...

[2015-02-04 19:32] godenji commented on #1052
I suspect most enterprise clients don't bat an eye at the licensing fees levied by Typesafe for the closed source drivers -- just the cost of doing business.

Saying that, ideally everything would be free and without restriction, but Typesafe is a for proft entity (IIRC); finding ways to monetize their products and services shouldn't come as a surprise. At minimum they need to pay their staff, whi

[2015-02-04 23:17] charlyz commented on #583
+1

[2015-02-05 07:05] derekhenninger commented on #1052
There are a number of statements in this thread about how Typesafe should run it's open source business.  I found this presentation from Marten Mickos to be an excellent overview of various approaches to open source business models: http://www.heavybit.com/library/video/2013-10-15-marten-mickos.  Perhaps others will find it interesting.

[2015-02-05 08:53] fommil commented on #1052
@derekhenninger I wouldn't presume to advise you on business strategy, so please do not take my words out of context when I express what is the presumed common wisdom of TypeSafe's business model. I am, however, extremely concerned about this "bait and switch" tactic of having a Free Software stack and then making trivial core components proprietary. If I were to do that to you with my free softwa

[2015-02-05 15:30] #983 closed

[2015-02-05 15:30] #809 closed

[2015-02-05 16:56] alpracka opened #1066 "unslick() doesn't clear interval when autoplay: true and slider syncing"
Hi, I don't know *slick* much yet but it seems to me unslick() doesn't clear interval properly when instances are synced. The code below runs every time when HTML is refreshed via AJAX. After few times of this refresh, the $('.carousel_due') will start rapidly change its slides (looks like the previously set intervals are still active).

[code]

[2015-02-05 17:00] szeiger commented on #1066
I think you're looking for https://github.com/kenwheeler/slick

[2015-02-05 17:00] #1066 closed

[2015-02-05 17:03] sibex commented on #1052
@derekhenninger Great overview from Marten Mickos. I see your point. But Typesafe has made the decision to venture a transition from Microsoft .NET to the Typesafe Reactive Platform much more difficult by closing down the MS-SQL driver in Slick. This _[Convince your boss](http://go.typesafe.com)_ thing does not work so well when she has to pay for the Typesafe subscription from the very first LOC,

[2015-02-05 17:04] alpracka commented on #1066
Ahh sorry :grin:

[2015-02-05 17:06] #982 closed

[2015-02-05 17:36] cvogt commented on #1052
@sibex Typesafe's sql server driver is free for use during development. Production use requires a license. Plus there is @fommil's open source alternative now. So that means if you care for Typesafe having your back when you run into problems you can get a subscription, if you are happier on your own, use the open source one.

Looks like we have exhausted this topic and heard everyone's positions.

[2015-02-06 16:02] Kwestor opened #1068 ""scala.slick.SlickException: JdbcProfile has no JdbcType for type UnassignedType" when using insertOrUpdate"
We tried to use `insertOrUpdate` in [unicorn](https://github.com/VirtusLab/unicorn/pull/53), but unfortunately it fails test with:

`scala.slick.SlickException: JdbcProfile has no JdbcType for type UnassignedType`.

Code to reproduce is on our branch, I can try to create a minimal if you want. Our tests uses H2.

[2015-02-06 18:32] queirozfcom commented on #497
+1

[2015-02-06 19:49] rktoomey commented on #497
+1

[2015-02-06 22:59] jstultz commented on #928
One general case where it seems like this is needed (at least, I would like to have it right now, and if there's a better way I'd love to hear about it) is when using SQL column types that are not directly supported by slick, and using a database function is necessary to translate to/from the column type to something that slick does understand. For example, using the `POINT` column type on a MySQL

[2015-02-08 07:08] pathikrit commented on #623
+1

It also causes some surprising behaviours when mixed in with ORDER BY DESC and LIMIT. The LIMIT goes to the inner join clause but the ORDER BY DESC is on the outer select which is incorrect because you want the ORDER BY DESC to go to the inner join for limit to work correctly.

[2015-02-08 07:15] pathikrit commented on #623
I would add the incorrect tag to this bug.

These should be equivalent:
[code]

But they are not. The second one is doing what is expected from the first one.

[2015-02-08 07:18] pathikrit commented on #623
I would add the incorrect tag to this bug.

These should be equivalent:
[code]

But they are not. The second one is doing what is expected from the first one.

[2015-02-08 07:21] pathikrit commented on #623
I would like to add the incorrect tag to this bug.

These should be equivalent:
[code]

But they are not. The second one is doing what is expected from the first one.

The first one is putting the order by on the outer select statement but the limit on the inner join statement which is producing incorrect results. It is fixed by using the second way where we order by upfront before the join to get

[2015-02-08 17:30] bad79s commented on #497
+1

[2015-02-09 17:36] cvogt commented on #928
That's a good use case. Better extensibility for Slick. Maybe @szeiger can squeeze this one in some time.

[2015-02-09 20:09] #975 closed

[2015-02-09 20:35] jovilius commented on #497
+1

[2015-02-09 21:52] urquilla commented on #1052
I'll just point out that is not the driver the real concern.

Either way, I'll be wary from now on of whatever core functionality could be dropped in the near future.

As @fommil  said.

[2015-02-09 22:53] cvogt commented on #1052
Bait and switch implies that Typesafe purposely tried to lure people in to let them pay later. That is not how I experienced it. It seemed more like part of the effort of Typesafe trying to figure out their business model.

[2015-02-10 05:43] fproject commented on #160
@cvogt: I don't see any clue for the answer to  @cppexpert 's question in your code!

[2015-02-10 11:27] szeiger commented on #838
Related Typesafe support ticket: https://support.typesafe.com/agent/case/4100

[2015-02-10 12:01] hepin1989 opened #1070 "mysql,data type text,but with max size exceed"
/** Database column notify_data DBType(TEXT), Length(65535,true), Default(None) */
[code]
the generated code is
[code]

the ddl is
[code]

[2015-02-10 14:39] cvogt commented on #1070
Which version are you using?

[2015-02-10 15:19] matanster opened #1071 "codegen: allow preserving column names' letter case"
Allow preserving the letter case of column names, on auto-generation, rather than lowercase them.

Relevant scenario:

1. You define your database schema, with a tool like MySQL Workbench, where you have most control.
1. You use camel case for column names in the database, as you are going to access the data with slick.
2. You then "slick codegen" out of the ready database.
2. you may well do this

[2015-02-10 16:05] hepin1989 commented on #1070
last version of slick and the mysql driver.
I could make work around that making the size little than 21845. :P.

In fact the notify_data is type ```text``` or I could change the type to ```varchar``` and specified a length.

[2015-02-10 16:06] cvogt commented on #1070
what version exactly? Milestone or stable?

[2015-02-10 16:26] hepin1989 commented on #1070
slick 2.1.0
mysql driver 5.1.34

[2015-02-11 04:07] jstultz commented on #928
I should also mention some related issues, as I see them. I may be misunderstanding some of this, or be unaware of some functionality, so please correct if I'm mistaken about any of this.

1: projections must define conversions in both directions; thus if I want to provide a projection that uses a SQL function on a column on read, I must also define the reverse mapping, even though it will never w

[2015-02-11 06:02] cvogt commented on #160
@fproject nope the PR is for filter and sorting only. There is no good way to use the type-safe api with dynamically selected columns at the moment. Fallback to Slick's plain SQL is probably the best bet.

[2015-02-11 12:05] szeiger commented on #1070
This was fixed in #1065

[2015-02-11 12:05] #1070 closed

[2015-02-11 12:17] #838 closed

[2015-02-11 21:06] tpolecat opened #1072 "possible soundness problem reading Array[Short] in postgres"
Hi guys, just FYI, I had a conversation with someone in `#scala` today on IRC who was using the Postgres extension and found that reading into a `List[Short]` was actually handing him an ill-typed `List[Int]` which would blow up with a `ClassCastException` later on when you examine the elements. I discovered this when working on doobie so I think it's legit; when you read an array of small ints yo

[2015-02-11 21:56] cvogt opened #1073 "SimpleBinaryOperator should return typed function and have tests"
Currently SimpleBinaryOperator doesn't have any tests or examples. And it returns a `(Column[_], Column[_]) => ...`. There should probably we a way to type-safe it's arguments, e.g. through additional type arguments to SimpleBinaryOperator.apply

[2015-02-11 22:08] cvogt commented on #1070
meaning it arrives with slick 3.0 in the very near future

[2015-02-11 22:46] cvogt opened #1074 "Go to Source broken for FreeMarker generated sources"
Try to got to _Source_ on
http://slick.typesafe.com/doc/3.0.0-M1/api/index.html#scala.slick.jdbc.GetResult$

It leads to a 404 page, because it has the src_managed directory in the path and the actual .scala file doesn't exist. Our best bet is probably to direct to the freemarker file. Not sure that's easily possible. An alternative would be pointing to the place where the .scala file would have b

[2015-02-11 22:50] VladUreche commented on #1074
What do you mean? How about doing a simple `sed` call to remove all the `src_managed` links?

[2015-02-12 00:24] cvogt commented on #1074
@VladUreche Genius. Done: https://github.com/slick/doc/pull/1

On the other hand the proper fix would probably be to use different scalacOptions for managed sources. Not sure if that can be done. @jsuereth ?

[2015-02-12 00:43] VladUreche commented on #1074
@cvogt, good point. If sbt would be able to notify scaladoc about generated sources, it would be easy to skip source links for them. @jsuereth, would that be possible?

[2015-02-12 02:45] hepin1989 commented on #1070
thanks

[2015-02-12 02:46] cvogt commented on #1074
@VladUreche That doesn't help. I WANT to link to something. It is just pointing to the wrong thing. Postprocessing the html is better than having the links at all

[2015-02-12 05:02] cvogt opened #1075 "Don't break the ModelBuilder api"
This is the argument raised here: https://github.com/slick/slick/pull/1048

The recently merged changed api of the ModelBuilder is less regular, more verbose and slightly less powerful than the old one. The old model was consistent, beautifully regular, simple and proven. Why break the interface and change it?
- The old one had a clear Structure. The elements of the ModelBuilder exactly matched th

[2015-02-12 05:38] oogifu opened #1076 "Embedded Derby, 42x04 error code, "outside the scope of the join specification""
Hello,

I have a simple table:

create table tbl_clients (
  uid varchar(64) not null,
  name varchar(64),
  primary key(uid)
);

and I use LiquidBase to update the schema of an in-memory Derby. All is fine.

I am trying to do a simple select:

 val db = Database.forURL("jdbc:derby:memory:MPTESTDB3;create=true",driver="org.apache.derby.jdbc.EmbeddedDriver")
type TBL_CLIENT = (String, String)
  cla

[2015-02-12 05:43] cvogt commented on #1076
your table is called tbl_clients but your Slick Table class says TBL_CLIENT  (see the missing s).

Please put readable code in a ticket next time

[2015-02-12 05:43] #1076 closed

[2015-02-12 05:52] oogifu commented on #1076
Hi CVOGT,

Will do. This is not the issue. May be it is related to Derby, but when I use the lower case version, I have the exception: Caused by: java.sql.SQLSyntaxErrorException: Table/View 'tbl_clients' does not exist.

When I use the upper case version, it works.

You just "fixed" my issue. It is actually related that even the column names should be in upper case.
Weird Derby behaviour.

Thanks

[2015-02-12 05:54] cvogt commented on #1076
Slick quotes names. Unquoted names (which you probably used during creation) will be treated as upper case in sql by default, iirc, which means in slick you will have to use upper case.

[2015-02-12 13:41] szeiger commented on #1072
@tpolecat Thanks for the heads up. I don't think this can occur in Slick because we're using the correct primitive acessors for all primitive types (see https://github.com/slick/slick/blob/2.1.0/src/main/scala/scala/slick/driver/JdbcTypesComponent.scala#L193-198). This is done for two reasons, one being that the return type of getObject() is not very reliable across database systems and database t

[2015-02-12 17:00] cvogt commented on #1071
Already supported with a custom code generator: http://slick.typesafe.com/doc/2.1.0/code-generation.html#customization

[2015-02-12 17:00] #1071 closed

[2015-02-12 17:28] tpolecat commented on #1072
Hi @szeiger this is specifically for reading `_int2` aka `smallint[]` array columns, where you expect to see `Array[java.lang.Short]` which as far as I know you can only get via `getObject` and casting, and the cast is unsound because you get a `Array[java.lang.Integer]` back.

[2015-02-12 17:34] szeiger commented on #1072
Ah, I see. Was this with https://github.com/tminglei/slick-pg/ ? Slick does not support array values on its own.

[2015-02-12 17:36] tpolecat commented on #1072
Oh, yes I think it was. The person said `slick-pg` and I thought it was a standard extension. I'll move this issue over there. Sorry for the bother!

[2015-02-12 17:36] #1072 closed

[2015-02-13 08:56] strelec opened #1079 "Native ARRAY support."
For the engines that do not support ARRAYs, this could fall back to creating an auxiliary table table or simply compile-time error.

[2015-02-13 14:45] szeiger commented on #1075
If you have a PR, there's still time to merge it

[2015-02-13 14:47] szeiger commented on #1074
It would be nicer if we could add this as an automatic post-processing step in `makeSite`, maybe as part of the improved build (cc @rfranco)

[2015-02-13 15:21] cvogt commented on #1074
I agree, let's merge the fix and script for now though to get a fix and a means to reproduce it in. We can kill it once it reached the build.

[2015-02-13 15:25] cvogt commented on #1075
I'll see what I can do in the next few days.

[2015-02-16 08:47] n3ziniuka5 opened #1084 "3.0 - Force action to run in a session"
I am trying our the 3.0.0-M1 API.
Is there a way to run an action in a certain session? I am aware that you can combine actions and those will run in a session, but that may be hard to achieve in certain cases.
I am using specs2 for testing and I am trying to create a transaction before each test and then rollback that transaction. I am using `Around` wrapper fro that
[code]

Then in my testcase I

[2015-02-16 09:14] szeiger commented on #1084
You could do this with a mock `Database` that wraps all Actions in a transaction.

[2015-02-16 09:29] jilen commented on #1023
Cannot agree more with @nafg ,  current the generated sql is too complex!! We won't  wan to see sqls like  this ```sql select x2.`id`, x2.`desc`, x2.`staff_id`, x2.`prj_id`, x2.`branch_name`, x2.`status`, x2.`score`, x2.`request_type`, x2.`schedule_date`, x2.`gmt_create`, x2.`gmt_modified` from (select x3.`prj_id` as `prj_id`, x3.`gmt_modified` as `gmt_modified`, x3.`request_type` as `request_type

[2015-02-16 09:34] n3ziniuka5 commented on #1084
I don't really want any mocks as I am integration testing my controllers.

Also, the new api dictates architecture too much in my opinion. Lets say you want to execute an action that depends on the result of the previous one, and you want them both in the same transaction. You could do this very easily with the old api, but now you will have to think how to properly chain the actions instead of ha

[2015-02-16 12:51] szeiger commented on #1084
You can wrap a real Database and only add the automatic rollback on top.

Switching to an asynchronous API was a strategic decision. It does make your code more complicated because you have to cps-transform everything. It doesn't make much of a difference whether you do this with `Future` or `DBIO`, the basic combinators are the same (at least the pure functional subset). You can't do it asynchron

[2015-02-16 14:06] Tmr commented on #1052
I traced Slick from very beginning and I experienced it somewhat different, of course not as a fraud or a lie but as a dangerous sign. And while I think that Typesafe stack is great (and Slick in particular) I excluded Slick from all of my projects (regretfully), because of several reasons, and one of them is that I suspect that "trying to figure out their business model" is not ended.

If Typesaf

[2015-02-17 07:53] n3ziniuka5 commented on #1084
I got it working. I think the only real issue here is the lack of examples and documentation, but that is acceptable given the stage of the release.

Thanks

[2015-02-17 07:53] #1084 closed

[2015-02-17 12:38] szeiger commented on #568
#1081 provides the framework for using config parameters in SourceCodeGenerator

[2015-02-17 12:39] szeiger commented on #155
Solved by #1080

[2015-02-17 12:39] #155 closed

[2015-02-17 12:40] szeiger commented on #605
Solved by #1080

[2015-02-17 12:40] #605 closed

[2015-02-19 13:05] szeiger commented on #195
It is caused by comparing BLOB values with `=` (see http://stackoverflow.com/questions/12589937/ora-00932-inconsistent-datatypes-expected-got-blob). Fixed in 3.0.0.

[2015-02-19 16:36] szeiger commented on #1008
OracleDriver supports O.AutoIncSequenceName and O.AutoIncTriggerName in 3.0.

[2015-02-20 16:22] #1004 closed

[2015-02-20 16:24] #190 closed

[2015-02-20 16:24] #195 closed

[2015-02-20 16:24] #1008 closed

[2015-02-22 08:58] SRGOM commented on #1052
@fommil Its easy to shout typesafe down on a public forum so that you can hurt their PR, why don't you fight with the firm that employs you, their finance policies are draconian. I hope you realize everyone has to pay bills.
You're being indignified here, and are trying to justify it by pointing out your contributions. You act like Typesafe owes anyone anything- they don't. Just like you don't and

[2015-02-22 09:48] fommil commented on #1052
@SRGOM nobody except TypeSafe can make that source code available again. It is unacceptable to do this in an OSS stack.

[2015-02-22 16:10] SRGOM commented on #1052
@fommil I'd like to say that stands like yours are the problem some corporations are afraid of open source. You take them for granted, and go against their interests. Typesafe is composed of people like you and I who need to pay their bills, and Its a great organization that's doing it by doing something worthwhile, not creating your yo and snapchats. But you're hurting them by taking their source

[2015-02-22 16:24] SRGOM commented on #1052
@fommil Actually, I don't think OSS licenses can' be revoked. I believe Typesafe did all the work and if they decide to change the license, its their choice. I really hope they sue you so that you can stop hurting Open source. You're setting a wrong precedent here- scaring firms into releasing their proprietary tech

[2015-02-22 16:50] cvogt commented on #1052
@SRGOM AFAIK @fommil based his work on an old version of the driver, which was released as free software. Derivative forks being legal and actually encouraged is what free software is all about.

Guys, let's take this topic to rest. I think everything that could have been said has been said. Thanks for the discussion.

[2015-02-22 16:53] fommil commented on #1052
:+1: to what @cvogt said

[2015-02-22 17:36] SRGOM commented on #1052
@cvogt Fine, but as an academic inquiry: does this mean that if I ever release a piece of code accidentally, its forever open source?

[2015-02-23 03:42] cvogt commented on #1052
@SRGOM no, most countries have copyright laws. Your code belongs to you unless you explicitly give up your rights. That's why free software projects come with licenses that give up certain right. Slick comes with a BSD-style license.

[2015-02-23 09:31] sibex commented on #1052
@cvogt :+1: Thank you for the clarification. I can't believe someone with a github account would think that forking is actually _stealing code_.

[2015-02-23 09:55] n3ziniuka5 opened #1090 "Slick 3.0 DBIO andThen combinator"
from scaladoc:
`Run another action after this action, if it completed successfully, and return the result of the second action.`
However, the `andThen` block runs every time, regardless of the status of the previous action. The action itslef is not run if the previous action failed, but the block is run every time, unlike `flatMap`.

Was this intended or not? If yes, I think it should be reflected

[2015-02-23 11:04] szeiger commented on #1090
There is no block to run. `andThen` takes a `DBIOAction` value. If you put a block of code in this place, it will just run on the caller thread before `andThen` is even invoked. And yes, this is intentional. Making `andThen` strict is the only reason for having it in the first place. By not having to run any computation between the two actions, it doesn't need to switch ExecutionContexts or reacqu

[2015-02-23 11:24] n3ziniuka5 commented on #1090
Ok, I see the purpose of this now. So I guess you shouldn't do something like
[code]
However doing such things feels very natural with `andThen` combinator. I guess the scaladoc could say:
`Run another action after this action, if it completed successfully, and return the result of the second action. Do not include any non-database computations as those will be executed regardless.`

[2015-02-26 12:07] mohittt8 opened #1093 "Slick 3.0 Transaction blocks"
I am moving to Slick 3 and I am facing some issues using transactions.
This used to work in Slick 2.1
[code]
This used to run both the queries inside transaction and id of the last inserted user was returned

In slick 3.0.0-RC1, I tried to do
[code]

However, in this case, only the first query runs. A new record for user gets inserted but there is no record for user addresses. If I remove the user

[2015-02-26 12:57] szeiger commented on #1093
You create a `userId` action and run it in the end. Remember that Slick 3.0 uses pure functional, monadic I/O without side effects (outside of db.run / db.stream). The `userId flatMap...` line *creates* a new action but you never *run* this action, you only run `userId`. You have to build up a single action to run like this:
[code]

[2015-02-27 18:52] Mast3rPlan commented on #148
:+1:

[2015-03-02 09:12] hanfeisun opened #1094 "Nested session/transaction support"
I have `obj1Repository.save()` and `obj2Repository.save()`, both have their method body wrapped in `DB withTranscation {implicit session => }`..

Then, `obj1Repository.save()` is going to be used within `obj2Repository.save()`'s transaction scope. However, I am not sure if nested transaction is supported in Slick (not found in the official document).. Also, I saw that nested transaction in Slick m

[2015-03-02 10:15] hanfeisun commented on #156
same issue..

[2015-03-02 10:24] hanfeisun commented on #156
solved, `delete` is not available because I mixed the usage of `import play.api.db.slick.Config.driver.simple._` and `import scala.slick.driver.PostgresDriver.simple._`.. After I replace all `scala.slick.driver.PostgresDriver.simple._` by `import play.api.db.slick.Config.driver.simple._`. It works again.

[2015-03-02 14:12] #156 closed

[2015-03-02 14:15] szeiger commented on #1094
If you want to share a transaction, use session.withTransaction, not database.withTransaction. withTransaction blocks on a session can be nested, in which case only the outermost one will create a real database transaction.

[2015-03-02 14:15] #1094 closed

[2015-03-03 20:41] yongjianwang commented on #929
@helena @szeiger A slick driver for Cassandra would be great.  Do we have some roadmap outlined yet?

[2015-03-03 22:36] helena commented on #929
@yongjianwang sadly not yet, so many tickets, talks etc get in the way but I'm finally back on our scala driver ticket so we'll see. Will update here.

[2015-03-04 09:08] remk commented on #497
Any news on this one ?

[2015-03-04 09:14] slavaschmidt commented on #497
+1

[2015-03-04 19:44] szeiger opened #1097 "Priority for enqueueing subordinate jobs during DBIO execution"
When using an entry queue with a limited size for the AsyncExecutor, enqueueing can fail for a subordinate job triggered by an action execution if more jobs have been submitted in between. This means that e.g. a transaction may not be committed or rolled back or a Connection not closed when the queue is full.

[2015-03-06 03:11] hanfeisun commented on #763
+1 the same issue..

It seems currently the only solution is to modify the generated SQL code, it would be great if this bug could be fixed..

[2015-03-06 06:57] phucnh opened #1098 "Extend scala.slick.lifted.Query error at Slick 2.1.0 version"
Hi, i try to extend scala.slick.lifted.Query for add paging function follow like this

[code]

And I use it:
[code]

The code above compile success on Slick 2.0. When i upgrade slick to 2.1.0 (flow upgrade guide http://slick.typesafe.com/doc/2.1.0/upgrade.html), i got this error at **paging** function
[code]

The problem is at Slick 2.1.0, Query[T,E] is change to Query[T,E,Seq]. How to fix it, ple

[2015-03-06 09:25] #1098 closed

[2015-03-08 06:36] tculshaw commented on #906
Hi,

I've been mucking about with the ofbiz schema in postgresql. It's got a terrifying 833 tables in it, and it's a highly normalised schema.

The Tables.scala generated is over 49,000 lines long. Compiler blows up no matter how many gig I throw at it in SBT_OPTS.

So I'm watching this issue with interest. It's gonna be a terrifying compile anyway even if split up with 833 files and many dependen

[2015-03-08 09:47] olivergg commented on #906
@tculshaw  Are you using the fix from https://github.com/slick/slick/issues/978 ?

Have you wait long enough ? Is there any exception ?
Regarding the code generation, one could argue that the generated code could be put in a separate library and then be compiled once to avoid recompilation issues.

[2015-03-08 20:25] tculshaw commented on #906
I wait for around 30 minutes and then it blows with an OutOfMemory exception.

Happy to wait an hour and if I can get a good compile run I will certainly jar it up.

My SBT_OPTS are

export SBT_OPTS="-Xmx2G -XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled -XX:PermSize=512M -XX:MaxPermSize=2G -Xss512M"

And the full log...

[info] Compiling 3 Scala sources to /home/tony/workspace/ofbiz-scala/t

[2015-03-09 00:21] melrief commented on #519
I tried myself to implement a `Shape` for Shapeless `HList` based on the implementation for Slick's `HList` but I'm stuck on the `Shape` for HCons:

[code]

now the `Shape` of `HNil` can be obtained with  `(HNil).shaped` and seems correct but the `Shape` of `HCons` gives compilation error:

[code]

Not sure why the implicit def for `HCons` doesn't work, any idea?

[2015-03-09 09:07] hvesalai commented on #799
I would have needed this again today.

[2015-03-09 09:16] hepin1989 commented on #583
+1

[2015-03-09 16:39] olivergg commented on #906
@tculshaw  Have you tried with Java 8 ?

[2015-03-09 22:23] tculshaw commented on #906
Good suggestion, but similar result:(

Java 8 gives...
java.util.concurrent.ExecutionException: java.lang.OutOfMemoryError: GC overhead limit exceeded

with .bashrc setting...
export SBT_OPTS="-Xmx2G -XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled -XX:PermSize=512M -XX:MaxPermSize=2G -Xss512M"

Detail being...
Caused by: java.lang.OutOfMemoryError: GC overhead limit exceeded
        at scala

[2015-03-09 22:26] tculshaw commented on #906
Another thought, the primarykey types could be causing the codegen problems? Some primary keys are string based, some primary keys are composite primary keys.

[2015-03-10 20:29] petervandenabeele opened #1099 "H2DB : column[UUID]("NAME") fails with Deserialization failed unless setting O.DBType("UUID")"
Using H2DB database and driver.

This works:

[code]

But this fails:
[code]
with the cryptic:

[code]

Is this the expected behavior (then the error message could be made more clear for newcomers)
Or maybe it is not the expected behavior ?

[2015-03-11 22:51] sap1ens commented on #93
Still an issue in 3.0.0-RC1 :(

DatabaseAction fails **silently** with `org.postgresql.util.PSQLException: ERROR: table "******" does not exist`

[2015-03-13 06:51] oogifu opened #1101 "3.0.0 RC1 upraded an Imports using Derby"
Hello,

After the upgrade to RC1, I have the following:

value Implicit in trait JdbcProfile is deprecated: Use 'api' instead of 'simple' or 'Implicit' to import the new API

My new import is now

import slick.driver.DerbyDriver.Implicit._
import slick.driver.DerbyDriver.api.{ Database, Table, Tag, TableQuery }

from the old:

import slick.driver.DerbyDriver.simple._

But I still have that warning

[2015-03-13 11:09] stijnvermeeren opened #1102 "Using asColumnOf[Double] with multiplication gives incorrect result in MySQL"
[code]

So instead of the expected `(0.0 + 2) * (0.0 + 2)`, MySQL actually computes `0.0 + 2 * 0.0 + 2`, which unfortunately is something quite different...

Bug occurs with Slick 3.0.0-RC1.
Bug does not occur when using a H2 database instead of MySQL.

[2015-03-13 13:07] skibi commented on #1101
Hello

You need to remove `import slick.driver.DerbyDriver.Implicit._` (it's also `Deprecated`)
and use `import slick.driver.DerbyDriver.api._`

[2015-03-13 16:52] zrated commented on #497
+1

[2015-03-14 06:54] oogifu commented on #1101
Thanks. This works partially. Have I missed a migration guide?
This used to work:

def allCustomers: List[DbClient] = {
    val q = scaleClients.map(client => (client.scid, client.name))
    val r = db.withSession { implicit session => q.run}
    r.map(t => DbClient(t._1, t._2))
  }

Now I have this

Description	Resource	Path	Location	Type
value run is not a member of slick.lifted.Query[(slick.lif

[2015-03-14 07:12] oogifu commented on #1101
After a closer look at the documentation, the transition path is to do:

    val q = scaleClients.map(client => (client.scid, client.name))
    val r = db.run(q.result)
    val c = Await.result(r, Duration.Inf)
    c.map(t => DbClient(t._1, t._2)).toList

Correct? is this the new way from now on?

[2015-03-15 16:09] boosh opened #1103 "Confusing use of Await in Getting Started guide"
The guide at http://slick.typesafe.com/doc/3.0.0-RC1/gettingstarted.html uses Await and then says not to use it, without saying what should be used in production:

"For the purpose of this example, we use Await to block the current thread and wait for the database result. This is not something you should do in a real application."

Please add a link or explain what should be used in a real applica

[2015-03-16 02:14] oogifu commented on #1103
Hi,

I think they simply state you must not wait and be reactive, i.e., use future onComplete Success or Failure as described here: http://docs.scala-lang.org/overviews/core/futures.html

O

[2015-03-16 09:49] boosh commented on #1103
Thanks, that's the link I was looking for. It'd be handy to have it added to those docs as the right way to do it.

[2015-03-16 16:43] guillaumebadin commented on #497
+1

[2015-03-17 10:07] malchmih commented on #497
+1

[2015-03-17 10:18] DStranger commented on #92
+1

[2015-03-18 09:35] gregor-rayman opened #1104 "Invalid default for char columns are not ignored"
Even with `ignoreInvalidDefaults = true` the following code in `SqlModelBuiler.ColumnBuiler.default` throws a `SlickException`. Only `MatchError` and `NumberFormatException` however are caught and logged.

[code]
(RC1, JdbcModelBuilder line 224)

Further improvement in the `PostgresDriver` would be to correctly recognize the defaults for `Char` columns written in the form `'X'::bpchar` like here:

[2015-03-18 20:52] kasajian commented on #1052
Please keep the following in mind with Open Source software in general.

1.  If you're the author, you own the copyright.  Even with the GPL, license you can release say version 1.0 of your software simultaneously as GPL, BSD, MIT and commercial.

Let's assume the most restrictive GPL license is being used.

2.  You then release version 2.0 of your software as commercial only.  You can do that bec

[2015-03-22 04:55] cailhuiris opened #1105 "headOption Throws SQL Syntax Error on MySQL Environment"
I have used Slick-3.0-RC1 Library and tried to make some example for educational purpose. when I try to run test code, I headed to this error. I Thought This would be a bug.

[code]

In the above code, head method works well, but headOption method Throws MySQL SyntaxError as below:

![2015-03-22 1 53 07](https://cloud.githubusercontent.com/assets/2603286/6768098/d715a5d0-d09a-11e4-83c8-b7713902dc3

[2015-03-22 14:55] th0rax opened #1106 "RWD slick problem"
Hi, first of all I'd like to congratulates this magnificat plugin ;)

But I have found crazy bug at mobile sites. When we start slider at mobile slider width is shorter than all pictures and some are going down under the line. There is no possibility to see all pictures in one line. Problem visible when option variable width is set.

[2015-03-22 14:56] aappddeevv opened #1107 "slick driver config property for DatabaseConfig.forConfig confusing"
3.0.0 RC1

The DatabaseConfig object takes a driver property which specifies the slick driver. But the underlying default implementation also looks for a driver property which is the class of the jdbc driver. This is confusing especially since the nested object documentation is linked in the DatabaseConfig documentation.

Suggest modifying documentation in DatabaseConfig to recognize that driver i

[2015-03-22 15:06] aappddeevv opened #1108 "DatabaseConfig.forConfig path bug 3.0.0 RC1"
In `DatabaseConfig.forConfig`, passing in an empty path is suppose to use the "toplevel" values in the config, however, the following line does not do that:

[code]

This line always uses the db level contrary to the documentation. Here's a fix (I think):

[code]

[2015-03-22 22:47] cvogt commented on #1106
You were looking for https://github.com/kenwheeler/slick

[2015-03-22 22:47] #1106 closed

[2015-03-23 10:46] #1097 closed

[2015-03-23 12:25] daniele-bettella opened #1109 "Consider returning a Long for Query.length and Query.countDistinct methods"
Some SQL implementations (like Postgresql and Redshift) return a Bigint for the count function. I think it would make sense in Slick to return a Long for Query.length and Query.coundDistinct methods in cases when a big number of rows must be returned. For compatibility with other implementations a simple downcast to Int would be needed.

[2015-03-24 09:45] romansky commented on #148
:+1:

[2015-03-24 17:06] vladimir-lu-work opened #1111 "primitive types are always rendered even if remapped to another with MappedColumnType"
[code]

In the above example, there is a custom mapper between the "Y"/"N" character representation of a boolean and the boolean itself. Querying without any parameters obviously works as expected - the data type gets converted, and even putting things like O.DefaultValue(true) in the column definition of isLatest work.

The problem comes when you use onlyLatest table query. Basically the implicit

[2015-03-24 21:33] szeiger commented on #1111
Mappings for a data type have to be consistent. I don't have a good idea how we could support inconsistent definitions.

[2015-03-25 02:16] cvogt commented on #1111
Meaning you can't remap Boolean, which is already supported in Slick. Use something else, like a custom Boolean.

@szeiger The way it could maybe be supported way if the mapper is somehow stored with the column and the query compiler looks it up from there. In other places only the implicit's existence is used to check if a type is supported, but it is only stored with the column definition. (Mayb

[2015-03-25 03:05] tomdcc commented on #92
+1

[2015-03-25 10:16] vladimir-lu-work commented on #1111
That sounds like a reasonable workaround.

I think this probably warrants mentioning in http://slick.typesafe.com/doc/3.0.0-RC1/userdefined.html#using-custom-scalar-types-in-queries that primitive types cannot be remapped.

[2015-03-25 13:25] tminglei opened #1112 "Tests no run in master branch"
Hi @szeiger / @cvogt,

After received issue tminglei/slick-pg#142 from @mackler, I did some testing on `slick`, and seems `slick` tests had same problem.

I updated a test case in `com.typesafe.slick.testkit.tests.JdbcMiscTest`:
[code]

And here's the execute result:
[code]

_Is `.result` not working as expected?_

[2015-03-25 13:30] szeiger commented on #1112
You're not actually running the test. JdbcMiscTest is a Testkit test, not a JUnit test. sbt only sees the JUnit tests (e.g. `slick.test.driver.PostgresTest`), which then use the Testkit runner to run the Testkit tests. Use something like `test-only -- *JdbcMiscTest*` to run it.

[2015-03-25 13:30] #1112 closed

[2015-03-25 14:35] szeiger commented on #1111
@cvogt Maybe an explicit mapping call could be introduced around column access so that all types there are resolved to a canonical version. We'll run into a similar issue if we want to support BIT(1) in addition to BOOLEAN because they should both map to Boolean (in fact, they currently do) but BIT(1) requires a completely different type implementation ( so it's currently broken)

[2015-03-26 00:13] tminglei commented on #1112
Yes, you're right. _Thanks!_

[2015-03-27 16:20] gregor-rayman opened #1113 "DBIO.sequence fails with StackOverflowError for long sequences"
In the version 3.0RC1In the following code a `DBIO.sequence` iterates over a quite long lazy sequence of actions.

[code]

I know that code like this should probably better run synchronously. Still, is there a reason the `DBIO.sequence` should exhaust the stack?

[2015-03-28 09:12] olivergg commented on #906
@tculshaw  How much physical memory do you have ? Could you try to increase the max heap size ? (-Xmx) ? If you use java 8, you can also drop the "-XX:PermSize=512M -XX:MaxPermSize=2G" flags.

[2015-03-30 04:31] bmironenko opened #1115 "Runtime error when combining join types"
The following query generates a runtime error in 3.0.0-RC2:

    for {
      (a, b) <- TableQuery[A] joinLeft TableQuery[B] on (_.id === _.foreignId)
      c <- TableQuery[C] if c.foreignId === a.id
    } yield (a, c)

Here's the partial stack trace:

    Exception in thread "main" scala.MatchError: Bind (of class slick.ast.Bind)
	at slick.compiler.ExpandSums.translateJoin(ExpandSums.scala:82)
	at

[2015-03-31 09:21] Frumsz opened #1117 "Runtime MatchError when using countDistinct"
I've come accross what I presume to be a bug, or otherwise maybe an improvement (since I could see it making sense having to specify a column(s) to distinct on):

I have encountered this with RC-1 and RC-2 and Pgsql

Consider the following:
[code]
The query will result in a runtime match error:
[code]

[2015-03-31 10:43] neurozen commented on #92
+1

[2015-03-31 16:47] szeiger commented on #1113
The current implementation of `sequence` looks rather inefficient. It creates `flatMap` actions even though the results are not needed in any of the intermediate steps. Consequently, it cannot be fused and will blow the stack during execution (because we don't do trampolining yet)

[2015-04-05 06:15] tminglei opened #1124 "PlainSQL: `sqlu` generates wrong DDL sql?"
I wrote codes in my tests as below:
[code]
But I got an exception as below:
[code]

I'm sure it's related to `${MyPlainPostgresDriver.pgjson}`, because when I replaced it with `json` or `jsonb`, it's back to work.

Pls help take a look.
Thanks!

[2015-04-05 09:00] tminglei commented on #1124
Did I used wrong way? Is `sqlu` only used to generate parametered sql?

[2015-04-07 08:01] szeiger commented on #1124
What are you trying to do? Abstract over different JSON types? This is part of the SQL syntax, so it has to be part of the literal string. You can't use bind variables here. Try `json #${MyPlainPostgresDriver.pgjson`

[2015-04-07 08:56] tminglei commented on #1124
Yeah, I try to abstract over different json types, and `#${MyPlainPostgresDriver.pgjson}` works.
_Thanks so much!_ :+1:

[2015-04-07 08:56] #1124 closed

[2015-04-07 12:16] kangaroody commented on #497
+1

[2015-04-07 16:00] szeiger commented on #1108
This works as intended. The top level or path is where the `driver` and `db` keys are expected.

[2015-04-07 16:00] #1108 closed

[2015-04-08 04:20] DanielJoyce commented on #1052
I guess my biggest problem is the total lack of transparency wrt pricing. We plan on shipping a server product to end customers. With no idea of cost for commercial DB support, I guess I will go with JOOQ as the cost is only per developer desktop.

[2015-04-08 08:23] yadavan88 opened #1126 "Possible bug in Slick3 Custom Code Generator Sample Code"
I am migrating from slick 2 to Slick 3. As part of that, I am trying to use the Custom Code Generator given this link (http://slick.typesafe.com/doc/3.0.0-RC3/code-generation.html). However, the generated code was having the same name for the Table and TableQuery, which was giving compilation errors.

The issue was fixed by overriding the rawName in the TableValue

override def TableValue = new Ta

[2015-04-08 14:43] bomgar commented on #92
+1

[2015-04-09 08:51] markehammons opened #1127 "Monomorphic types failing to work in 3.0.0-RC3"
I'm trying to transition a small slick 2.1 codebase to 3.0.0-RC3, but I've hit a roadblock when it comes to using monomorphic case classes. All the ones that I created and worked in 2.1 fail to compile with some variation of:

[code]
That one's from a test definition I wrote as such

[code]
I have no idea what's going on, but by all rights the above example follows the tutorials on monomorphic cas

[2015-04-09 09:44] szeiger commented on #1127
Primitive types are provided by the driver. Without importing a driver API (e.g. in https://github.com/markehammons/Webserver/blob/master/src/main/scala/org/bioemergences/slicktables/liftedShapes/Implicits.scala) you can't get a Shape.

[2015-04-09 09:44] #1127 closed

[2015-04-09 10:22] markehammons commented on #1127
Could you add this info to the documentation for monomorphic case classes here: http://slick.typesafe.com/doc/3.0.0-RC3/userdefined.html#monomorphic-case-classes?  None of the examples makes it anyway clear that it's necessary to import this and it certainly wasn't necessary to import this in 2.1.

[2015-04-09 10:49] szeiger commented on #1127
See http://slick.typesafe.com/doc/3.0.0-RC3/upgrade.html#column-type for the new TypedType requirement.

[2015-04-09 15:32] cvogt commented on #1127
How about we just import a driver in the code sample here: http://slick.typesafe.com/doc/3.0.0-RC3/userdefined.html#monomorphic-case-classes ? That makes it intuitively clear.

[2015-04-09 15:37] szeiger commented on #1127
It has nothing to do with monomorphic case classes in particular. Pretty much everything you do with the lifted embedding needs a driver API import.

[2015-04-09 15:43] cvogt commented on #1127
Maybe the Shape error message should tell people that they shouldn't forget to import a driver then? The fact that they do is not intuitive. Telling people can lower the learning curve which is already pretty steep.

[2015-04-11 06:41] vmskarthik opened #1128 "selectStatement is not available in slick.driver.PostgresDriver.api._ import,"
I am using Slick 3.0.0-RC3
When I try to get select statement from Query, like ( TableQuery[Entity].selectStatement), It gives error as,    value selectStatement is not a member of slick.lifted.TableQuery[Entity].

But when I change the import  from, "slick.driver.PostgresDriver.api._"   to "slick.driver.PostgresDriver.simple._", It works, with deprecation warning.

What could be the issue ?

[2015-04-11 09:32] stempler commented on #1117
Also just encountered this runtime error with Slick 2.0.1 and the PostgreSQL driver.
As @Frumsz suggested works if mapping the query to a specific column before doing countDistinct.

[2015-04-11 22:19] eswenson1 opened #1129 "Slick 3.0 DDL generates unacceptable MySQL SQL for String types with primary keys"
When Slick 3.0 generates the schema for a table definition of a String field designated as a primary key, such as with this:

  def name: Rep[String] = column[String]("COF_NAME", O.PrimaryKey)

the schema generation fails with the error:

com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException: BLOB/TEXT column 'COF_NAME' used in key specification without a key length

This is because MySQL does

[2015-04-13 10:35] szeiger commented on #1129
This is mentioned in the migration guide: http://slick.typesafe.com/doc/3.0.0-RC3/upgrade.html#default-string-types

[2015-04-13 10:37] szeiger commented on #1128
Use `.result.statements` in 3.0

[2015-04-13 10:37] #1128 closed

[2015-04-13 11:17] raulraja commented on #558
Hi @szeiger Has there been any progress in automating the generation of table objects? thanks!

[2015-04-13 15:44] jfg9 commented on #497
+1

[2015-04-14 15:10] cvogt opened #1130 "Provide names accesses in results for tables > 22 colums"
Currently the results are stored in HLists, which only provide positional access.

Solution would be either switching to 2.11's case classes > 22 or generate accessors for the HLists.

Also see
http://stackoverflow.com/questions/29610741/how-to-use-attribute-names-if-the-table-has-more-than-22-columns-so-it-is-define

[2015-04-14 15:21] cvogt opened #1131 "Review Reactive Slick regarding dead lock concerns and pool size"
Please see this
http://stackoverflow.com/questions/29597601/is-slick-3-0-reactive-asynchronous-at-the-database-driver-level-for-which-datab/29597868?noredirect=1#comment47343655_29597868

and this
https://github.com/brettwooldridge/HikariCP/issues/305

[2015-04-14 15:51] szeiger commented on #1131
Heavy lock contention can certainly lead to under-utilization of database resources. A fully asynchronous database server could be tasked efficiently with a much higher number of jobs at the same time, or even communicate the required back-pressure information to the client. Since we don't have such a hypothetical server, the best you can do is to increase the thread pool size in these cases in or

[2015-04-14 16:02] cvogt commented on #558
My recommendation is using the Slick code generator (see manual) to generator everything out of database + additional meta data. Also see my talk about it here: https://www.parleys.com/tutorial/53a7d2cce4b0543940d9e55e/

Starting with the case classes is conceptually harder and currently not supported in Slick.

[2015-04-14 16:14] nafg commented on #558
What if the code generator, instead of building strings, would at the core
generate a scala AST (e.g. via quasiquotes), and then at the end it would
output it as valid source code? (Is it trivial to go from AST to valid
source?) Then the same code could be used by macros.

You can see some attempt of mine to provide the Tables etc. via a macro
annotation here:
https://github.com/nafg/slick-additio

[2015-04-14 16:18] cvogt commented on #558
@nafg I actually have an implementation of this lying around somewhere based on an old version of the code gen, but scala code generation from ASTs doesn't work very well. But it requires type macros or annotations, which haven't made it into main line Scala.

Also I understood this ticket more as wanting to generate DDL from classes, which is something else and something I'd advice against.

[2015-04-14 16:22] nafg commented on #1130
Or just mechanically break it into multiple nested case classes

On Tue, Apr 14, 2015 at 11:10 AM Jan Christopher Vogt <
notifications@github.com> wrote:

[2015-04-14 16:28] nafg commented on #558
On Tue, Apr 14, 2015 at 12:18 PM Jan Christopher Vogt <
notifications@github.com> wrote:

My thinking is that slick would include a source code generator that does
the same exact thing it does now, but the API works with ASTs not Strings,
it only converts it to strings on the outer layer. Then someone else can
make their own library that consumes the =>AST API and provides macros.
That library wou

[2015-04-14 16:28] estaub commented on #1131
I'm the guy who started all this.  My intent with the original comment (not the original SO question) and subsequent HikariCP post was just to point out that where there are non-hardware-caused latencies on the database server, a formula for the optimum number of connections in a pool (and matching threads) that only takes into account the hardware is unlikely to allocate sufficient connections, w

[2015-04-14 16:30] cvogt commented on #558
@nafg Working with trees was noticeably harder than Strings even with Quasi quotes in my experiments. The current code gene is easy to extend. Trees would make it worse I think.

[2015-04-14 16:45] nafg commented on #558
Yeah tradeoffs, tradeoffs...

On Tue, Apr 14, 2015 at 12:30 PM Jan Christopher Vogt <
notifications@github.com> wrote:

[2015-04-14 16:45] szeiger commented on #1131
@estaub Interesting. If the server is asynchronous up to the network I/O level, asynchronous drivers should help in these high-contention situations. There would probably still some guess-work involved (how much do you queue up in the db server and how much on the app server) but the limits could be high enough to avoid starvation in most cases. Fully asynchronous drivers are on the roadmap but no

[2015-04-14 18:35] nafg commented on #558
On Tue, Apr 14, 2015 at 12:14 PM Naftoli Gugenheim <naftoligug@gmail.com>
wrote:

Corrected commit:
https://github.com/nafg/slick-additions/commit/d6d634d21d0021688793abec313f59d6ba670a34

[2015-04-15 12:47] adatoo opened #1132 "Suspected native thread leakage in Slick 3.0.0-M3"
Environment:
* Play Framework 2.3.8
* Postgres JDBC Driver 9.4-1201-jdbc41
* JDK 7 / 8

Having followed (this)[http://blog.knoldus.com/2015/03/03/play-with-reactive-slick-a-simple-crud-application-in-play-framework-using-slick-3-0/] article to integrate Slick into Play, I am finding that running my full test suite results in a `java.util.concurrent.ExecutionException: java.lang.OutOfMemoryError: u

[2015-04-15 13:01] szeiger commented on #1132
See https://github.com/knoldus/play-reactive-slick/issues/1

[2015-04-15 13:01] #1132 closed

[2015-04-20 02:54] kjim commented on #623
+1

[2015-04-20 10:16] lisinge commented on #497
+1

[2015-04-24 17:47] godenji commented on #942
Not true, once you extend a universal trait (i.e. a trait that extends `Any`) you pay the runtime allocation price. Depending on the application this may or may not be an issue, but it would be nice to have safety, performance, and mappability -- I guess for the performance bit we have to wait for Java 10...

[2015-04-30 07:23] anand-singh commented on #1117
+1

[2015-04-30 19:57] Skamander commented on #1023
Hi,

since UCanAccess uses LGPL 2.1: is the LGPL compatible with Slicks license? Slick seems to use a different license as Play, whose license is not  LGPL compatible -> https://github.com/playframework/playframework/issues/4197 and https://github.com/playframework/playframework/pull/4118 so it's probably not a problem, but I'm a license noob and I also think about play-slick. Play-Slick uses the

[2015-04-30 20:04] cvogt commented on #1023
@Skamander licenses look compatible. Slick uses BSD 2-clause https://groups.google.com/forum/#!topic/cr-48-test-pilots/0-Um2ED-cEA

[2015-05-01 12:40] Skamander commented on #1023
Thanks for the clarification @cvogt

[2015-05-01 19:10] szeiger commented on #1023
The licenses are compatible in the sense that you can create an app which depends on both. We cannot allow any use of LGPL licensed code in Slick or as a dependency for the same reason that Play can't. However, none of our drivers depend on third-party JDBC drivers, they only use JDBC itself in a compatible way. If we wanted to depend directly on other drivers (like in slick-pg) I'd have to run th

[2015-05-02 14:54] jamadei commented on #1023
Anyway, next version ucanaccess(3.0.0) version will likely be under Apache 2.0.
I chose lgpl just for compatibility with the underlying jackcess library, but they relicensed to Apache the latest jackcess version(2.1.0).
I have just to verify the Apache2.0 compatibility with the hsqldb ad-hoc licence, yet I'm pretty sure it's compatible with.
If I'm right, I have no more reasons to continue with th

[2015-05-04 09:29] agapep commented on #497
+1

[2015-05-04 09:37] mohittt8 commented on #497
+1

[2015-05-04 16:13] cvogt commented on #497
@szeiger This gets majorly upvoted. Assigned 3.1.0 just so this doesn't fall through the cracks. Please change as see fit.

[2015-05-05 07:26] godenji opened #1134 "MappedTo Macro Should be in a Separate Typesafe Library"
As it stands one is commited to the Slick provided isomorphism for custom types (e.g. `MappedTo[MyValueClassExtendingMappedToBase]`); this is fine if the custom types only need to be used for database column conversions with Slick.

However, in, for example, Play applications one also needs to convert routes and form bindings for custom types. So, given a value class `UserId`, it will require conv

[2015-05-05 13:50] JeremiasIsnardy commented on #1022
I'm facing the same problem.
Is there any way to get the views with slick 3.0.0 ?

The method getTables isn't available anymore.

[2015-05-05 14:03] szeiger commented on #1022
@JeremiasIsnardy The method is now called `defaultTables`

[2015-05-05 14:06] JeremiasIsnardy commented on #1022
Yes, I'm aware of that. Unfortunately defaultTables does not list any database views.

The method getTables on the other hand did this.

[2015-05-05 14:32] cvogt commented on #1022
MTable.getTables

is your friend.

http://slick.typesafe.com/doc/3.0.0/api/index.html#slick.jdbc.meta.MTable$

Also see

https://github.com/slick/slick/blob/master/slick/src/main/scala/slick/driver/PostgresDriver.scala#L104

Chris

On 05.05.15 09:50, JeremiasIsnardy wrote:

--
Jan Christopher Vogt
Scala Ninja at x.ai
Scala Slick OSS developer
NYC

[2015-05-05 14:57] JeremiasIsnardy commented on #1022
Ah, ok. Thanks.

In case someone else is facing this problem, instead of using defaultTables I used:
slick.jdbc.meta.MTable.getTables(None, None, None, Some(Seq("VIEW","TABLE")))

[2015-05-08 07:14] savulchik commented on #92
+1

[2015-05-11 23:29] nafg opened #1135 "Possible query optimization: pull where into join select"
On MySQL 5.6.20, I had a query that went something like this:

[code]

with several queries like q1. The tables have a lot of columns and a huge amount of rows. I had to run a couply of such queries and some of them were taking around 4 seconds.

I changed the code to be more along the lines of:

[code]
and queries started taking about 60 milliseconds!

I know you plan to work on reducing query AS

[2015-05-13 21:28] aaggarwal35 commented on #897
+1
It was hard to figure different options to override in the correct format. (fyi, using slick 3.0)

[2015-05-13 21:42] cvogt commented on #897
we could export a few common use cases in a simpler format but for more advanced stuff you'd have to use the overrides

[2015-05-14 13:54] PhilAndrew commented on #179
+1

[2015-05-14 16:27] aparamonov commented on #966
I've just found a workaround for this bug in 3.0.0.
Just mark appropriate column definition as a primary key. So, in the example above it should look like this:
[code]
After this modification, insertOrUpdate will generate f1 and f2 columns in where clause.

[2015-05-14 17:14] dwalend opened #1136 "Declare types in example code"
Consider adding types to your example code, instead of letting it all be inferred by the compiler.

I'm working through the new 3.0 APIs. It'd be really helpful to see what's a Future. Declaring the types would make that jump out.

[2015-05-15 10:55] TimothyKlim opened #1137 "java.util.NoSuchElementException: None.get slick.compiler.FuseComprehensions.select(Relational.scala:432)"
Hi!
I'm trying to join multiple tables with Slick 3.0:
[code]
and I got this error:
[code]

Where am I wrong?

[2015-05-15 20:08] joelhandwell commented on #313
+1

[2015-05-16 17:53] mkotsbak commented on #254
Maybe instead something like the JOIN t2 USING (some_commmon_id_name) SQL syntax could be supported instead, when there exists columns with the same name specified explicitly.

[2015-05-16 18:03] mkotsbak opened #1138 "Support auto join from metadata"
There should be support for auto joining from given meta data about the relations like e.g. JPA does.

I see some autojoin support in this talk: http://slick.typesafe.com/talks/2013-12-03_Scala-eXchange/2013-12-03_Patterns-for-Slick-database-applications-Scala-eXchange.pdf

But why is it noincluded in the code base?

[2015-05-18 10:37] bbdimitriu opened #1139 "Database config does not load the "numThreads" and "queueSize" settings correctly"
This issue affects v3.0.0.
The *Database.forConfig("mydbconfig")* method loads the "numThreads" and "queueSize" values from the root level configuration instead of the node with the given DB configuration name (e.g. "mydbconfig").

[2015-05-18 14:05] aparamonov opened #1140 "3.0.0: constant warning on application startup: validationTimeout is greater than connectionTimeout, setting validationTimeout to connectionTimeout"
This issue is reproduced on default settings using HikariCP 2.3.7.
The problem that default connectionTimeout is 30 seconds, and default validationTimeout is 5 seconds in HikariCP. But slick sets default connectionTimeout to 1 second that fails the check in https://github.com/brettwooldridge/HikariCP/blob/2.3.x/hikaricp-common/src/main/java/com/zaxxer/hikari/AbstractHikariConfig.java#L802 and does

[2015-05-18 16:49] manjoine opened #1141 "mssql Unicode support nchar"
https://msdn.microsoft.com/en-IN/library/ms186939.aspx

Prefix Unicode character string constants with the letter N. Without the N prefix, the string is converted to the default code page of the database. This default code page may not recognize certain characters.

example insert into x (y) values (n'<?xml version="1.0" encoding="UTF-16"?>
<Name>Björn</Name>') to allow the unicode.

How can i ena

[2015-05-18 19:24] manjoine commented on #1141
Initial resolution is to not include the encoding header FYI. but thinking this might come up again.
```insert into x (y) values ('<Name>Björn</Name>') ```

[2015-05-19 04:14] angeloh opened #1142 "DDL generation failed scala.reflect.internal.Symbols$CyclicReference: illegal cyclic reference involving <$anon: >"
I am using Play 2.3 with dependencies:
"org.specs2" %% "specs2-core" % "3.5-scalaz-7.0.6" % "test",
"org.specs2" %% "specs2-junit" % "3.5-scalaz-7.0.6" % "test",
"com.typesafe.play" %% "play-slick" % "0.8.1"

The Evolution is on. But when I run a test case, it throws this error:

[error] scala.reflect.internal.Symbols$CyclicReference: illegal cyclic reference involving <$anon: >
[error]
[error] ST

[2015-05-19 10:04] DieterLi opened #1143 "How to return the result from DBIOAction"
In doc, all the results end with println, which don't happen in real world cases. I want to know which is the best way to get the results of CRUD in these cases. Even with Future's onSuccess, onFailure, onComplete, I have to declare a mutable variable to catch the result, but what if exception happen?

And so, I try to use Future's map, flatmap, recover and recoverWith, which achieve the pure reac

[2015-05-19 10:04] DieterLi commented on #1143
Detailed exceptions are the following:
[code]

[2015-05-19 11:32] julienrf commented on #1143
You are closing the database too early. Remember that `db.run` is asynchronous.

[2015-05-19 13:07] DieterLi commented on #1143
To avoid, it seems that Await has to used, which is not recommended by the doc. And if onComplete, onSuccess, onFailure, or even map, flatMap, they can make whole thing asynchronous. But where should I put db.close, which is following finally of try block.

Here is where I'm confusing. What's best pattern for this?

[2015-05-19 13:10] DieterLi commented on #1103
But no good place to  place db.close. If the whole try block is asynchronous, the connection might be closed before the really action taking place. I've tried several times, the exception occurs quite often.

I'm also looking for a better pattern for the Reactive. Thanks.

[2015-05-19 13:30] szeiger commented on #1143
The `Database` is a global resource. Create it when you start the app and shut it down with the app. Do not create and close a db for individual statements.

[2015-05-19 13:45] DieterLi commented on #1143
@szeiger Thank you very much. You've made a very clear point here. It works very well, and all app works asynchronously. Great job!

[2015-05-19 13:45] #1143 closed

[2015-05-19 19:35] dwalend opened #1144 "upgrade.html didn't get indexed."
I searched for "headOption" using the search box on http://slick.typesafe.com/doc/3.0.0/ , after reading about it on http://slick.typesafe.com/doc/3.0.0/upgrade.html .

"Your search did not match any documents. Please make sure that all words are spelled correctly and that you've selected enough categories."

I've double-checked with a cut/paste. Could be the upgrade.html didn't get indexed.

Hope

[2015-05-19 19:37] cvogt commented on #1144
verified

[2015-05-19 19:38] cvogt commented on #1144
maybe it doesn't properly index code snippets or something

[2015-05-20 15:44] xtianus79 opened #1145 "Bug when I have the slider in the accordion with Display:none the slider doesn't initiate the image height"
So, looking for a solution but hard to find.

We have figured out that it is the display none of the slider when the slider is in the accordion.  so what happens is that the slider height or image doesn't commence the correct height.  what happens is the image is basically hidden and the dots and arrows are left behind.  After the first slider is selected, via the dots or arrows, then it pops into

[2015-05-20 15:53] cvogt commented on #1145
wrong project, this is slick the db library

[2015-05-20 15:53] #1145 closed

[2015-05-20 16:05] cmacher commented on #489
Changing the explicit joins to implicit joins fixed the performance issues for me. Not ideal but a workaround I can live with for now.

[2015-05-20 17:29] xtianus79 commented on #1145
sorry

[2015-05-21 00:18] wentao opened #1146 "slick.codegen.SourceCodeGenerator doesn't handle default value of TIMESTAMP"
In my sql statement, I use
       created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
To specify a column to use current timestamp as the default value.

Then if I run SourceCodeGenerator, it won't recognize the DEFAULT CURRENT_TIMESTAMP part, and not default value is provided in the case class in Tables.scala file.

I've also tried with "DEFAULT now()", it doesn't work as well.

[2015-05-21 13:32] marko-asplund opened #1147 "Slick 3 schema mapping doc refers to deprecated DBType"
Slick 3 schema mapping documentation describes how to use the `DBType` type column mapping:
http://slick.typesafe.com/doc/3.0.0/schemas.html

This type has been deprecated in Slick 3.0, so the current documentation version should not refer to deprecated features.

Also, this deprecations should be mentioned in the Slick upgrade guide.

[2015-05-21 21:12] cmacher commented on #489
Would #1135 be a way around this issue or is this unrelated?

[2015-05-22 11:00] szeiger commented on #489
Purely aliasing subqueries should be completely gone in 3.1. We'll need some additional reordering for unions (pushing projections down into both sides). For joins it's probably better not to do this. We can look at the details of additional optimizations once the rewrite is complete.

With the new back-end, monadic joins are always translated to explicit applicative joins first. When a Comprehens

[2015-05-22 11:24] ijuma commented on #489
Nice improvement. :)

[2015-05-22 11:40] nremond commented on #489
Great work !

[2015-05-22 11:41] loverdos commented on #489
Sweet!

[2015-05-24 19:46] toby5box commented on #96
I could also use `distinct` in 2.1.0. Is this not going to happen on the 2.1 series? :/

[2015-05-25 05:13] yadavan88 opened #1148 "Sharing database session between multiple methods to handle transaction in Slick-3"
I had already asked about this in StackOverflow(http://stackoverflow.com/questions/30371450/sharing-database-session-between-multiple-methods-in-slick-3) and slick-group(https://groups.google.com/forum/#!topic/scalaquery/blmqrAC6Qig).
I feel that the slick-2 way, where we can pass implicit session between multiple methods to do operations in a single transaction needs to be supported in slick-3 as

[2015-05-26 09:19] godenji commented on #489
@szeiger what will the generated sql look like when you can't desugar to implicit join syntax? i.e. with outer joins, are you anticipating similar (or close to) generated sql in 3.1?

If so, that would be a huge performance win for MySQL, and probably allow for improved query plans in other engines as well.

Tackling groupBy is the final frontier ;-)

[2015-05-26 09:25] XuNeal opened #1149 "Can't resolve symbol result in IDEA 14 CE"
I get "Can't resolve symbol result" error in idea,  but `sbt compile` ok

My source like this
[code]

[2015-05-26 11:22] yadavan88 commented on #1149
@XuNeal Try downloading the nightly build of scala plugin and install it in your IDEA. It will resolve the issue.

[2015-05-26 15:24] #1149 closed

[2015-05-26 16:18] szeiger opened #1150 "Log query parameters"
Statement logging doesn't show the actual parameters for PreparedStatements. We should add a separate logger to do this.

[2015-05-26 17:16] szeiger commented on #489
@godenji The final decision between join syntaxes is at the code generator level. The shape of the query is exactly the same. Without optimizing simple joins to implicit syntax it would look like this (same for outer joins):

[code]

(Maybe nested with parentheses or in a different order; I just edited this one manually)

GroupBy was rather simple to add to the new back-end. I thought it would be

[2015-05-26 19:41] dwalend opened #1151 "FixedSqlStreamingAction.headOption() does not support fold()()"
I expected FixedSqlStreamingAction.headOption() to return something that replicated Option's API, especially fold()(), but that's not what I've found.

I get back a SqlAction[Option[MyCaseClass], NoStream, Read], which supports map() and some of the contract, but not fold()(). (The old firstOption() had exactly what I needed.)

Is there an extra hoop I need to jump through? Are my expectations out

[2015-05-26 19:52] godenji commented on #489
@szeiger

Incredible, 3.1 should be well received across the board for that improvement alone.

Do you mean handling `select max(foo) from bar`?  Really, aside from the comprehensive for comprehensions proposal getting shelved\*, the main issue I have with the current groupBy implementation is the requirement to flatten results.

From SQL99 onward it is legal to return non-aggregate columns in a g

[2015-05-26 19:53] cvogt commented on #1151
@szeiger will know for sure, but how about .map(_.fold(...)) ? map enters the action, inner call works on the enclosed option.

[2015-05-27 01:19] XuNeal commented on #1149
I update the scala plugin to 1.5, It works, Thanks.

[2015-05-27 05:13] nafg commented on #96
3.0.0 was already released

On Sun, May 24, 2015 at 3:46 PM Toby Thain <notifications@github.com> wrote:

[2015-05-27 06:03] yadavan88 commented on #1148
Sorry, My bad.
Thanks to @cvogt (discussion on google group), I am able to compose the query required to execute in a single transaction between multiple methods.

Closing the issue.

[2015-05-27 06:03] #1148 closed

[2015-05-28 06:28] jroper opened #1152 "Impossible to use custom slick driver in dynamic classloading environments"
Slick uses [`Class.forName(String)`](https://github.com/slick/slick/blob/master/slick/src/main/scala/slick/backend/DatabaseConfig.scala#L57-L58) to load a custom slick driver.  This breaks dynamic classloading environments such as Play, as seen in https://github.com/playframework/play-slick/issues/266.

Slick should instead take, as a configuration parameter, a classloader that should be used for

[2015-05-28 17:54] dwalend commented on #1151
Thanks, cvogt. While figuring out what .map(_fold()() could do I blundered into combining db actions using for completions. I've been able to handle most of the simpler cases with for completions. The code isn't as explicitly clear as I'd like, but it's not too bad. The db work all composes into one lump action.

I haven't gotten .map(_fold()()) to work with the more complex examples. The backstor

[2015-05-28 17:56] cvogt commented on #1151
docs indeed seem not to speak about how to compose. maybe it was to obvious for the people used to monads. http://slick.typesafe.com/doc/3.0.0/dbio.html

[2015-05-28 18:03] cvogt commented on #1151
@dwalend you do not need to pin the session. you simply need to use map and flatMap to compose actions, the easiest was is to use the for comprehensions syntax, which desugars to map and flatMap. The examples show for comprehensions over actions, but I haven't seen a simple one with 2 actions... just put another one in there and you are good.

[2015-05-28 18:47] dwalend commented on #1151
That's what I hoped for. No luck so far. The diabolical bit seems to be working with the result of a DBIOAction, then use it for the next DBIOAction, then getting that first result back out at the end.

Here's a code snippet I'm struggling with:

[code]

The compiler digests the first expression in the for{} and it works as expected. (Tests subsequently fail because the table doesn't change.) The

[2015-05-28 20:17] nicky-isaacs commented on #623
+1

[2015-05-28 20:21] trobison commented on #623
Just reading this makes me fear adopting slick.  MySQL has its flaws and I would love to have some beers and rant about them, but every other way I can talk to MySQL doesn't come bundled with this limitation.

+1

[2015-05-28 20:26] szeiger commented on #623
@pathikrit This is the expected behavior. You take the first 50 elements from an unordered view, and then sort those elements. That's different from first sorting and then taking the first 50 from the sorted view. It's the same for Scala collections.

[2015-05-28 20:38] dwalend commented on #1151
Does anything terrible (or good) happen if one db.run is nested inside another? Does it use extra connections, or share a session, or stand on an extra thread? If it's mostly harmless, maybe I'm making this too hard.

[2015-05-28 22:58] cvogt commented on #623
@szeiger is this in the scope of your 3.1 compiler enhancement?

[2015-05-29 01:18] mdedetrich commented on #1131
JDBC by design is blocking driver, so you would need to definitely need to add plugabble support for specific drivers (i.e. https://github.com/mauricio/postgresql-async for postgres)

Regarding performance, the benefits of fully async driver start becoming much more apparent if you have a specific workflow, that workflow being the one that favours a bigger number of "smaller" SQL statements (combi

[2015-05-29 08:54] szeiger commented on #623
@cvogt What exactly, eliminating the nesting? Sure, that's the whole whole point of it. Pretty much as requested in https://github.com/slick/slick/issues/623#issuecomment-64932417. Or the correct propagation of ORDER BY clauses through subqueries? Possibly, time permitting. Currently there are still some situations where it doesn't happen. Eliminating most of the subqueries should further marginal

[2015-05-29 13:56] agbell commented on #161
I think that to fix this next and set methods would be needed for UUID and Option[UUID]  like is done in this commit to the [postgres slick project for special postgres types](https://github.com/tminglei/slick-pg/pull/117/files).

As a work around you can just add these yourself and then just write an implicit GetResult for your type:
[code]

At the very least this has worked for me

[2015-05-29 14:17] szeiger commented on #1151
Are you looking for something like this?

      mostRecentTopicQuery.filter(_.id === topicId).result.headOption.flatMap(
        _.fold(DBIO.successful(noTopicRecord)){ topic =>
          val t = topic.copy(...)
          (allTopicQuery += t).map(_ => Some(t))
        }
      )

You want to run different actions depending on the result of another action, so you need `flatMap`, not just `map`. And

[2015-05-29 14:56] dwalend commented on #1151
That's got it. And it makes sense. Thanks both of you for all the help.

It might be worth aliasing DBIO.successful(noTopicRecord) as a no-op, or showing it in an example. I didn't blunder into it on my own. (I've got a journeyman's understanding of monads, but am still settling into Futures. Maybe a "read this [about Futures] first" link that talks about successful() would help.)

For posterity,

[2015-05-29 21:31] fiibbb commented on #583
+1

[2015-05-30 07:36] davidhoyt commented on #966
This bug just bit me in 3.0.0 -- any chance it will be addressed soon?

@aparamonov Your workaround worked for me unless you try and create the table in which case you'll get an error saying there are multiple primary keys defined.

For what it's worth, I got the same error when I don't define a primary key via the `ColumnOption` and instead do: `def pk = primaryKey("PK_Foo", myId)`. _Even for non

[2015-06-03 15:29] szeiger opened #1153 "Type error for non-hoistable GetOrElse in hoistClientOps"
Fails on 3.0 with "Expected an option type, found Int'":
[code]

[2015-06-03 20:59] Schweigi commented on #92
+1

[2015-06-04 00:22] Raymond26 commented on #966
+1.  Encountered the same thing!

[2015-06-04 19:10] dwickern commented on #966
+1. `primaryKey` should be equivalent to `O.PrimaryKey`. I like naming my constraints for better error messages.

[2015-06-04 19:32] schmitch commented on #425
Currently even on 3.0 i investigated a really bad behavior, the Raw SQL Queries that run via sql, sqlu, tsql running way faster than the functional mappings.

[2015-06-04 21:12] bjfletcher opened #1154 "Document insertOrUpdate in the documentation?"
Is `insertOrUpdate` worth a mention in the main documentation?

Perhaps a sentence at the end of the [updating](http://slick.typesafe.com/doc/3.0.0/queries.html#updating) subsection?

Feel free to close this if it's deemed not worthy (am new here BTW).

[2015-06-04 21:17] bjfletcher commented on #1154
https://github.com/slick/slick/issues/6 has the discussion about this (then)  new feature.

(With thanks to Gábor Bakos on SO for the link.)

[2015-06-05 10:39] schmitch opened #1155 "Compiled Queries are a huge pain"
Hello, currently I'm using slick and I try to compile all queries, however I only do this, since the queries are really slow if I won't compiled them, they take a HUGE hit into performance.

However Compiling a query is sometimes really hard and should be improved.
Instead of writing just a simple function like that:

    db.run(tables.filter(_.id === id).result)

I need to write the following:

[2015-06-05 14:31] isn0gud opened #1156 "LeftJoin with empty columns"
I want to filter table y from table x
[code]
compiles to
[code]
This does not work since `not(xy = 1) ` does not match if the table is empty/has null rows.
Solutions?

[2015-06-05 16:12] szeiger commented on #1156
Looks like a problem with the way we desugar discriminator column checks. It should probably generate a "is not null" check instead of "= 1" to get ternary logic right.

Workaround: Use something like xTable.filterNot(_.id in yTable.map(_.id))

[2015-06-05 18:08] cvogt commented on #1155
what do you suggest as a less verbose way to express it?

[2015-06-07 08:28] schmitch commented on #1155
Currently I have no idea how that could be better, however I think maybe it's better to have always Compiled Queries, except the user explicitly wan't non compiled, that would be an option.
I mean slick already had a huge gain by introducing sql, sqlu, tsql and Future responses. Now if it would be less painfull to have fast queries, it would be the greatest "ORM-like" Library.

I mean without comp

[2015-06-07 21:57] johanstenberg92 opened #1158 "Missing documentation on Slick 3.0.0"
Hi,

I used previous Slick versions and was very satisfied, but it took a while to get use it with ease.

However now with Slick 3.0.0, the "reactive" Slick, I just can't get stuff working. An example is this:

[code]

Something like that worked fine when wrapping it with a `db.withTransaction { implicit session => ... } in Slick before, but now I just can't figure out how to do this. I can mimick

[2015-06-07 23:51] nafg commented on #1155
db.run(compiledGet(id).result)`
def getQuery(id: Rep[Long]) = tables.filter(_.id === id)
val compiledGet = Compiled(getQuery _)
[code]

That's just the way scala works. Compiled takes a function literal, it can be anonymous if you like.

[2015-06-08 03:17] cvogt commented on #1155
@schmitch Compiling by default would away explicit control from the user when compilation happens and where the compilation result is stored. Right now, you are in control. You decide where you place the val, if you rely on Compiled's default lazy compilation or if you trigger it upfront. We consider that an advantage over compilation as a caching side-effect as ORMs may do it. I doubt the syntax

[2015-06-08 07:37] kops513 commented on #1093
Hi,
  I get error while inserting the sequence of Object using for-loop. I am new to slick, please help me figure out this problem.

 def saveClosing(transactionGrossCommissionPlan: TransactionGrossCommissionPlan, deductions: Seq[TransactionDeduction], transactionAssociateFinancial: Seq[(TransactionAssociateFinancial, Option[Seq[TransactionAssociateDeduction]])])(implicit request: RequestContext)

[2015-06-08 08:50] schmitch commented on #1155
@nafg and how would one compile a simple SELECT * FROM table; query?
If I just try to write a Compiled { tables } it won't work.

[2015-06-08 14:42] cvogt commented on #1093
please provide error message and reopen. Minimized example would help, too.

[2015-06-08 14:42] #1093 closed

[2015-06-08 14:43] cvogt commented on #1093
@kops513 see above

[2015-06-08 18:13] nafg commented on #1155
Not sure, can you show me how to do it the verbose way?

On Mon, Jun 8, 2015, 4:50 AM Schmitt Christian <notifications@github.com>
wrote:

[2015-06-09 06:35] mdedetrich commented on #880
Im giving this a bump, does anyone know if this is any easier in Slick 3.0?

[2015-06-09 06:51] kops513 commented on #1093
I took reference from (http://slick.typesafe.com/doc/3.0.0/dbio.html#transactions-and-pinned-sessions)   and it worked for me :)
Here is my latest code

def saveClosing(transactionGrossCommissionPlan: TransactionGrossCommissionPlan, deductions: Seq[TransactionDeduction], transactionAssociateFinancial: Seq[(TransactionAssociateFinancial, Option[Seq[TransactionAssociateDeduction]])])(implicit reques

[2015-06-09 07:17] julienrf commented on #1093
See http://www.scala-lang.org/files/archive/spec/2.11/04-basic-declarations-and-definitions.html#repeated-parameters

[2015-06-09 12:58] isn0gud commented on #1156
This workaround introduces a sub query which I want to avoid. I used the plain sql feature which works great. :+1:

[2015-06-09 14:13] domdorn opened #1159 "update not working with multiple columns/date"
the following code does not work, although it should work in my opinion. If I just update only the value column, it does work.
[code]

I'm using PostgreSQL 9.3;
The table looks like this:
[code]

Is there an error in my code?

[2015-06-10 21:33] schmitch commented on #1155
@cvogt how could I compile a query that takes no parameters??

[2015-06-10 21:34] cvogt commented on #1155
@szeiger?

[2015-06-10 22:30] schmitch opened #1160 "sortBy and take/drop resulting in wrong SQL"
Hello when running a sortBy(_.id.desc).take(1) the resulting sql will be totally wrong.
It will be a SELECT columns FROM (SUBQUERY) instead of the wished SELECT columns FROM table ORDER BY x LIMIT 1;

[2015-06-10 22:31] cvogt commented on #1160
does it produce different results? what is the sub query?

[2015-06-10 22:37] schmitch commented on #1160
Currently the Query that will be generated is:
[code]
The result is correct it's just that the Query is way slower due to the subquery..

[2015-06-10 22:41] cvogt commented on #1160
That's a known issue when using Slick with MySQL. Neither Slicks nor MySQL's optimizers currently optimize this away. Works well with other dbs AFAIK. Slick 3.1 will come with an improved optimizer that produces the SQL you expected.

[2015-06-10 22:41] #1160 closed

[2015-06-10 22:42] cvogt commented on #1160
https://github.com/slick/slick/pull/1133

[2015-06-10 22:44] cvogt commented on #1160
"wrong" isn't really the case by the way. the produced query is semantically correct. SQL doesn't have execution semantics in the language, that's for the database to decide. The MySQL optimizer however didn't chose a good execution plan for this case and it is indeed possible to affect that by changing the structure of the query. but that is db and optimizer dependent and could even depend on run

[2015-06-10 23:04] schmitch commented on #1160
Good that I use PostgreSQL.

[2015-06-10 23:24] cvogt commented on #1160
whats the performance difference?

[2015-06-10 23:25] cvogt commented on #1160
I guess we disagree on the definition of semantics :). Anyways fixed in upcoming 3.1 or should already be in recent builds from master if I am not mistaken

[2015-06-11 10:49] szeiger commented on #1155
It should "just work" like any other query. Maybe a variance bug? I've fixed those for other corner cases. What's the compiler error?

On June 10, 2015 11:34:46 PM GMT+02:00, Jan Christopher Vogt <notifications@github.com> wrote:

--
Sent from my Android phone with K-9 Mail. Please excuse my brevity.

[2015-06-11 11:14] schmitch commented on #1155
Query:
[code]
Error:
[code]

[2015-06-12 07:32] schmitch commented on #1155
Also a Huge impact is a bigger Query, where the where part will be dynamically generated. There is no way to have such a query compiled, ok there is a way if you make individual queries, based on the Where part, but that would take way longer than just writing a string interpolated query with a splicing literal, however that has another drawback, such as that all the parts in the splicing literals

[2015-06-12 15:51] cvogt commented on #1155
@schmitch Slick's plain SQL interpolation is injection safe. Caching dynamically composed queries can indeed be tricky. You can use the conditions used to determine what query to build as cache keys and e.g. use a mutable Map from key to compiled query as the cache.

[2015-06-12 15:57] schmitch commented on #1155
@cvogt i know that the plain SQL interpolation is injection safe, however that is not safe:
[code]

I mean that wouldn't make that much sense, however it would make more sense if some builts the list dynamically while username is a Option[String] and it should only appended when the option is non empty. However username is not sql safe it will definitly print a error.

[2015-06-12 16:09] cvogt commented on #1155
composing plain SQL strings sounds like a cool feature. can you add a separate issue for that? Or even better, a PR that implements it. This is an open source library :).

[2015-06-12 16:12] schmitch commented on #1155
hm i will definitly make an issue, however currently my time is really really limited. But i will take a look into it.

[2015-06-13 10:04] schmitch opened #1161 "[Feature] Composable SQL Strings"
Due to the nature of some SQL queries it will be a great addition to slick, to have composable SQL Strings, which means that you could now generate some where parts dynamically without loosing some security feature's of SQL interpolated strings.

With this feature it would now be possible to write a query like that without loosing sql injection prevention or other security features of slick:

Exam

[2015-06-13 10:06] schmitch commented on #1155
I've created a new Issue at #1161 however there is still a lot of work to do before even implementing a single line of code since this feature is more than just "compose sql strings"

[2015-06-13 17:14] markvandertol commented on #757
Run into this myself as well.

When making this change, I think it is a good idea to extend this to the `||` and `&&` operators as well.

The following query has similar edge case on PostgreSql, since the right hand side of the `||` operator returns `NULL` thus making the result `NULL`. On MySQL this query will return rows with `None` values.
[code]

[2015-06-14 19:52] odwrotnie opened #1162 "Entity validation"
Are you planning to add validation to entities? I am also looking for methods like beforeSave, afterUpdate, etc.

[2015-06-15 15:48] cvogt opened #1164 "mark queries in query log with token that allows to find corresponding code"
a feature informally requested by people we talked to at conferences: mark queries to find the code corresponding to slow queries in the query log. If you just add the mark text as a sql comment to the sql queries within that action, that may just do it.

[2015-06-15 15:58] cvogt commented on #1162
I doubt Slick will ever add any kind of validation framework, but hooks like you suggested to plug in your own I can see. Renaming the ticket.

[2015-06-15 16:06] odwrotnie commented on #1162
Ok :(. What is your solution for entity validation?

[2015-06-15 16:24] cvogt commented on #1162
For expressing the validation rules: write code that expresses them. Hook it into your database access layer (or the query execution layer). This is outside of the focus of Slick but of course you can combine Slick with other solutions or hand-written code, which is probably the best for validation.

[2015-06-15 20:58] julienrf commented on #1161
I doubt you will really get benefits here… you will want to add more and more feature to support more combinations in a typesafe way and you will end up with … the actual Slick lifted API.

[2015-06-15 23:36] sedovalx commented on #1161
Btw, is there a way (in Slick 3.0.0) to execute an sql from a String variable?

[2015-06-15 23:45] cvogt commented on #1161
I could see to simply support concatenation operators between partial queries created using sql"..." interpolation. That would still prevent injections. Syntax or type-safety guarantees are off anyways with plain SQL without using tsql.

@sedovalx you can use `StaticQuery.queryNA[Person]("SELECT * from person")` and friends: https://github.com/slick/slick/blob/e9ab33083bfa1ae642a93d4e52b4ac87b42dc

[2015-06-15 23:53] cvogt commented on #1161
@schmitch This one doesn't seem too hard to implement actually. The sql"..." results are stored in `SQLActionBuilder` https://github.com/slick/slick/blob/e9ab33083bfa1ae642a93d4e52b4ac87b42dc917/slick/src/main/scala/slick/jdbc/StaticQuery.scala#L193

I think you simply need to a write an extension method or two for SQLBuilder, that concatenate the contained values (SetParameters also just wraps a

[2015-06-16 06:39] pganta opened #1167 "The connection attempt failed for batch insert"
We recently we upgraded to Slick 3.0. After upgrade we are getting below error while  inserting batch of 2000 records with 30 seconds intervals.  with older version we where able to insert 7000 records with 7-8 seconds intervals. Not sure what is causing below error.

The connection attempt failed. at org.postgresql.core.v3.ConnectionFactoryImpl.openConnectionImpl(ConnectionFactoryImpl.java:249) a

[2015-06-16 06:48] pganta opened #1168 "Update is not working Slick 3.0 with Mongodb (below 2.6)"
For some of our projects we are using Slick 3.0  with Mongo Db. We notice update failures after upgrading to Slick 3.0, this works well with Mongodb 2.6 and above but not below 2.6. Below is the error we are getting while update.

[AsyncExecutor.default-8]
                                [s.j.J.benchmark] - Execution of prepared statement took 1ms
reactivemongo.core.commands.LastError: DatabaseExc

[2015-06-16 07:07] sedovalx commented on #1161
@cvogt thanks for response! Is there a way to convert StaticQuery to DBIOAction? Or should I use deprecated methods like `db.withSession` and `query.list` as before?

[2015-06-16 09:31] i-schuetz commented on #1154
+ 1

[2015-06-16 10:57] fractal commented on #1150
+1
This is super useful

[2015-06-16 11:00] fractal commented on #1026
+1

For the reasons mentioned above, and also because date conversions can generate lots of garbage.

[2015-06-16 14:19] cvogt commented on #1168
slick currently does not have mongodb support. your cause must be something else. maybe reactive mongo?

[2015-06-16 14:19] #1168 closed

[2015-06-16 14:20] cvogt commented on #1161
@szeiger can probably answer that

[2015-06-16 14:36] cvogt commented on #1167
I doubt anyone can help you with this unless you provide a way to reproduce the problem.

[2015-06-16 15:22] poroszd commented on #1002
Updated (for 2.1.0)
[code]

[2015-06-17 21:35] markvandertol opened #1170 "UnassignedType when combining Union, Mapped Table and Option"
I tried to combine two queries with unionAll where the queries returned a mapped table and an Option. When the query is executed a `SlickException` is thrown.

Here is a simple case to reproduce the problem. When `q1` is used separately, then it works fine. Also when I remove the mapped table from the result or when I remove the lifting of the `t.id` column to an `Option` the query works fine.
[co

[2015-06-19 07:49] vladimir-lu-work commented on #966
Encountered the same thing as well. We worked around it in the tests (the only place where schemas are actually generated from Slick code) by creating a second table with the primary key on the autoincrement column.

[2015-06-19 07:53] adamw commented on #497
+1

[2015-06-19 08:36] vladimir-lu-work opened #1171 "insertOrUpdate should allow specifying whether AutoIncrement columns are included"
Sometimes it is not desirable to have the autoincrement column included in the update part of an upsert, for example when your table is generating unique ids for a composite primary key.

Currently the `upsertCompiler` in `JdbcProfile` has `InsertCompiler.AllColumns` for the target columns to be inserted. I believe you should be able to either configure the columns or simply change it to `InsertCo

[2015-06-19 08:39] vladimir-lu-work opened #1172 "Incorrect SQL generation in UpsertBuilder when the list of columns to be inserted on update is empty"
This occurs when you have a table that is composed entirely of primary key columns.

The fix is to make the insertion of the `when matched then update set $updateCols` in `UpsertBuilder` conditional on the list of columns being non-empty.

[2015-06-19 08:39] vladimir-lu-work commented on #1171
Also found #1172 while making these changes locally.

[2015-06-19 09:22] pocman commented on #1000
implicit def string2BigDecimal(value: String) = new scala.math.BigDecimal(new java.math.BigDecimal(value)) seems to do the trick.

[2015-06-19 16:35] Schweigi commented on #1026
+1

[2015-06-20 13:14] mandubian commented on #929
@helena Hi Helena, could you find some time to bootstrap something or not?

[2015-06-20 17:27] diwalak commented on #1164
This will be a good addition.
Example from Dropwizard (see section on prepended comments) - https://dropwizard.github.io/dropwizard/manual/hibernate.html

[2015-06-22 08:06] schmitch opened #1173 "transaction cleanup method"
Hello, currently I'm having trouble in generating a useful result with the transaction cleanup method.
The problem is caused of the fact that I have an update query and if that fails I wanted to run the create query and return the result of either of them, however thats currently not that easily possible.

The problem is, that cleanUp is a Unit so that the following won't works:

[code]

Is there

[2015-06-22 08:31] #1173 closed

[2015-06-22 15:52] vladimir-lu-work commented on #1171
Although if you just leave out the autoincrement column in the `upsertCompiler` as suggested above, the `returning` support breaks when you want to return the autoincrement column (inside JdbcTypesComponent.jdbcTypeFor) so it cannot be the full solution.

[2015-06-22 16:01] alexdupre opened #1174 "Macro for typed queries doesn't compile if slf4j-log4j or logback is present as a project dependency"
Sample minimal project that exhibits the issue: http://www.alexdupre.com/tarballs/slick-bug.tar.gz

[code]

[2015-06-22 17:24] vladimir-lu-work commented on #1068
So I had to look at this briefly when trying to fix #1171 (as this is exactly what I ran into) and I cannot reproduce it with a minimal test case yet.

@cvogt - do you have an idea where I should be looking? I was suspecting SimplyTypedNode.nodeWithComputedType2 but I have seen nothing concrete yet.

[2015-06-22 17:25] cvogt commented on #1068
@vladimir-lu-work that's @szeiger s area of expertise

[2015-06-22 18:39] schmitch commented on #538
it would also be great to have a ```take``` function where we could take some hlist members and tupled them.

[2015-06-22 20:54] cvogt commented on #538
actually it probably makes more sense to keep slick's hlists to a minimum and add shapeless integration instead. should be a small shape, not too hard.

[2015-06-22 23:27] easel commented on #1140
Workaround is to force connection timeout to 5 seconds, something like this:

slick.dbs.default.db.connectionTimeout=5 seconds

[2015-06-23 01:02] easel commented on #1140
Also, this seems to be specific to newer versions of HikariCP. The version 2.3.0 that you get when building slick doesn't appear to exhibit the error or have the validationTimeout setting.

[2015-06-23 01:18] easel commented on #1140
PR #1140 brings the HikariCP version in line with play-slick and adds a configuration setting with a  default for the validationTimeout.

[2015-06-23 03:43] aparamonov commented on #1140
thank you!

[2015-06-23 05:29] mrpelle commented on #633
I would really appreciate this feature too!

[2015-06-23 07:32] djx314 commented on #917
Oh, here!!!
Hello, @szeiger .Now I am writing a tool for slick to dynamic update colunm you decide in runtime without reflect.
I need to use Rep[T] to generate the update DBIOAction.
But now slick no longer support for implict val impl: TypedType[T].
So now I have to define option param and non-option param instead of one param. Any fix?
Here's the code.

<https://github.com/scalax/slick-summer/bl

[2015-06-23 08:08] strelec opened #1176 "Completely dynamic queries"
I am looking for a way to do completely dynamic queries -- that means read user input and produce a nice looking table, depending on the column types.

I have not found a way to make this possible via Slick.

[code]

[2015-06-23 08:39] djx314 commented on #917
Oh! I fixed it. Just use the shape. But I must define the new shape in the code. I just forget it!

[2015-06-23 10:22] lucamolteni commented on #1174
+1

[2015-06-23 10:22] lucamolteni commented on #1139
+1

[2015-06-23 10:30] vladimir-lu-work commented on #1068
Ok, so I've managed to reduce the case where it breaks to the following:

[code]

Note that this does not happen when you don't use the `.?` construct (i.e. when the autoincrement key is not an Option[])

[2015-06-23 10:48] lucamolteni commented on #1146
+1

[2015-06-23 20:38] nafg commented on #1176
What sort of user input?

On Tue, Jun 23, 2015, 4:08 AM Rok Kralj <notifications@github.com> wrote:

[2015-06-23 20:39] strelec commented on #1176
The SQL query to be performed.

[2015-06-23 21:35] nafg commented on #1176
From http://slick.typesafe.com/doc/3.0.0/sql.html#result-sets it looks like
it's just a matter of defining an appropriate GetResult
<http://slick.typesafe.com/doc/3.0.0/api/index.html#slick.jdbc.GetResult>,
which gives you a PositionedResult
<http://slick.typesafe.com/doc/3.0.0/api/index.html#slick.jdbc.PositionedResult>,
which should have everything you need.

On Tue, Jun 23, 2015 at 4:39 PM Rok

[2015-06-24 00:11] mdedetrich commented on #538
Agree with @cvogt , priority should be shapeless integration

[2015-06-24 05:46] mdedetrich commented on #942
@godenji, is there documentation for that use case?

[2015-06-24 08:57] gguan opened #1178 "Inner Join Too Slow"
I create a query in SLICK grammer like this
[code]
And SLICK generate the SQL query
[code]

While this query can be simply written like this
[code]

And slick is about 4 times slower than the simple SQL. Any suggestions how to prevent SLICK from generating over complicate SQL?

[2015-06-24 09:40] szeiger commented on #623
Duplicate of #489

[2015-06-24 09:40] #623 closed

[2015-06-24 09:45] godenji commented on #942
@mdedetrich as far as Slick's `MappedTo` is concerned, there is no allocation overhead; it's when you call a method defined on a universal trait that allocation occurs. In other words, ignore me ;-)

There are additional caveats to keep in mind when working with value classes, however. Check out [the docs](http://docs.scala-lang.org/overviews/core/value-classes.html)

[2015-06-24 09:49] szeiger commented on #1178
Duplicate of #489. Try #1133 is you need a fix immediately.

[2015-06-24 09:49] #1178 closed

[2015-06-25 05:21] luoq opened #1179 "executor in slick.jdbc.JdbcBackend.DatabaseFactoryDef.forConfig get config from root"
def forConfig(path: String, config: Config = ConfigFactory.load(), driver: Driver = null): Database = {
      val source = JdbcDataSource.forConfig(if(path.isEmpty) config else config.getConfig(path), driver, path)
      val executor = AsyncExecutor(path, config.getIntOr("numThreads", 20), config.getIntOr("queueSize", 1000))
      forSource(source, executor)
    }

If we use forConfig("a.b"), sour

[2015-06-25 07:15] luoq commented on #1139
+1

[2015-06-25 07:15] luoq commented on #1179
duplicated with #1139

[2015-06-25 07:15] #1179 closed

[2015-06-25 12:02] mustajarvi opened #1181 "Slick 3: Connection starvation. slick.jdbc.JdbcBackend$BaseSession.close() tries to create a new connection"
Works fine when the number of reqs/s is low, but as soon as it hits a burst slick uses up all connections in the connection pool and then becomes unable to close the connections again. The stacktrace looks like this:

[code]

From the stack trace it looks like it tries to create a connection when close() is called, which deadlocks since it has already used up all connections.

 Is there a synchron

[2015-06-26 09:40] hepin1989 opened #1182 "doc : add cookbook section for the online document"
I think it would be great for some common case.

[2015-06-26 10:55] Salmondx opened #1183 "Task slick.backend.DatabaseComponent rejected from java.util.concurrent.ThreadPoolExecutor"
I'm using slick 3.0.0 version.
Exception:
[code]
As i think, this problem occurred due to lack of free threads in thread pool but i have no idea how to increase them. In hikariCP for my computer spec i need exactly 20 threads in pool.
Any recommendations?

[2015-06-26 14:17] schmitch opened #1184 "Codegen: Add a way to suspress the output of Table descriptions"
Currently I'm using slick only with raw queries, since it's really amazing against RawJDBC when it comes to case class mapping through GetResult.
However inside of codegen there is no way to susspress table descriptions:
https://github.com/slick/slick/blob/master/slick-codegen/src/main/scala/slick/codegen/AbstractSourceCodeGenerator.scala

Currently It's only possible to susspress ```GetResult```

[2015-06-26 15:02] cvogt commented on #1184
people asked for the schema method in order to drop tables and recreate them

dont have time to look into suppressing tables right now. consider opening a PR if you have a fix in mind

[2015-06-26 15:07] schmitch commented on #1184
As said suppressing tables works really good, but I could not get rid of ```schema``` it's hardcoded.

There would be two ways to fix and I will creating a PR, however one would be checking if:

``` def definitions = Seq[Def]( EntityType, PlainSqlMapper, TableClass, TableValue )```

Contains TableClass and TableValues and if not it would just suppress the [ddl/schema](https://github.com/slick/slic

[2015-06-26 15:45] cvogt commented on #1184
understood. I suggest sticking to the naming scheme and calling it `ddlEnabled`.

[2015-06-26 17:05] schmitch commented on #1184
I created an initial PR on https://github.com/slick/slick/pull/1185 however I can't run testkit locally somehow, I need to check why it's failing.

[2015-06-26 19:22] schmitch commented on #1184
Fixed in https://github.com/slick/slick/commit/85df538db0ab6d6ff4b5598026396d0de0ff74d2

[2015-06-26 19:22] #1184 closed

[2015-06-27 06:27] gatorcse commented on #96
+1 this

[2015-06-28 16:43] jvican commented on #1171
Hi, I am very interested in this feature.
At the moment, I have come up with an inefficient method:
[code]
I think that the fact that is run in a transaction makes my solution thread-safe. I don't know for sure. Please confirm.

It would be nice to have this feature shortly, in a native way as with insertOrUpdate. I didn't use this method because I needed to return my user with the generated id.

[2015-06-29 14:16] julienrf opened #1186 "DBIOAction#andThen is not stack-safe"
When running `DBIO.seq` on a moderately large collection (less than 2000 elements) I get the following SO:

[code]

[2015-06-30 10:10] mustajarvi commented on #1038
Just wanted to leave a short example for other Slick 3 postgres users having OOM issues with streaming result sets.

[code]

[2015-07-01 13:22] mustajarvi commented on #1181
I realize that I don't have a complete picture of how the various bits and pieces of slick interacts internally so I'm throwing this out.

@szeiger :
Could `close()` be called by another thread than the one which accessed the `lazy var conn`? In that case `open` needs to be `volatile`, right? Otherwise the synchronized write `open = true;` in the lazy val initialization won't necessarily be visibl

[2015-07-01 16:51] nafg commented on #1000
What I have in my customized code generator is

[code]

[2015-07-01 16:51] cvogt commented on #1000
guys, consider submitting a PR :)

[2015-07-02 23:26] saosebastiao opened #1188 "@StaticDatabaseConfig resolves fine in SBT but not ScalaIDE"
I have been testing out the typed SQL, and everything is working fine when compiling in SBT, but when I try to use the ScalaIDE I get the following error

**Cannot load @StaticDatabaseConfig("file:src/main/resources/application.conf#tsql"): No configuration setting found for key 'tsql'**

My src/main/resources/application.conf:

	tsql {
		driver="slick.driver.PostgresDriver$"
	    dataSourceClass

[2015-07-03 08:02] hepin1989 opened #1189 "add support to shutdown the cake pattern for the generated code"
I think should provide a way to close off the cake pattern support ,when I try to parse bean from a string via jackson,it compains :
[code]
with the code
[code]
after I change it to
[code]
it works.and give me
ResourceRow(game,channel,repo,Some(folderIgnore),Some(fileIgnore),outputRepo,1,1.1.1,1,resolver)

[2015-07-03 10:47] hepin1989 commented on #1189
a walkaround is
[code]

[2015-07-05 00:57] berardino opened #1190 "upsert: make it possible to differentiate the update column set from the insert ones"
Hi, I am trying to use "upsert" on postgres. Everything works fine apart that slick seems to be using always all table columns both for insert and update.
Or at least this is what I experienced and understood so far from the source code  https://github.com/slick/slick/blob/master/slick/src/main/scala/slick/driver/JdbcInsertInvokerComponent.scala#L212 and https://github.com/slick/slick/blob/master/

[2015-07-05 12:46] hepin1989 opened #1191 "source code generator should support filter"
If I have some table was created by programme when debug and when I run the code generator again,It will generate class from that.
so I think the generator should support filter.

seems here:https://github.com/slick/slick/blob/master/slick-codegen/src/main/scala/slick/codegen/AbstractGenerator.scala#L23

[2015-07-05 13:57] hepin1989 commented on #1191
could override the model
[code]

[2015-07-05 13:57] #1191 closed

[2015-07-06 00:47] berardino commented on #1026
+1

[2015-07-06 07:35] julienrf opened #1192 "DBIO.sequence does not work with Option"
You should either implement a `sequenceOption[A](maybeAction: Option[DBIO[A]]): DBIO[Option[A]]` method or embrace a `Traverse` typeclass as we can find in [scalaz](https://github.com/scalaz/scalaz/blob/scalaz-seven/core/src/main/scala/scalaz/Traverse.scala) or [cats](https://github.com/non/cats/blob/master/core/src/main/scala/cats/Traverse.scala).

[2015-07-06 19:42] nafg commented on #1192
You can do
maybeAction.fold(DBIO.successful(Option.empty[A]))(_.map(Some(_)))

On Mon, Jul 6, 2015 at 3:36 AM Julien Richard-Foy <notifications@github.com>
wrote:

[2015-07-07 10:32] BartoszJanota commented on #1117
Hi guys,

I encountered the same problem and I solved this the same way as @stempler suggested.

@Frumsz consider something like:

[code]

[2015-07-07 11:05] julienrf commented on #1192
Yes I know but I think that could be useful to add it to slick.

[2015-07-07 19:23] nafg commented on #1000
Actually the culprit seems to be this:

https://github.com/slick/slick/blob/master/slick/src/main/scala/slick/jdbc/JdbcModelBuilder.scala#L230

          case (v,"scala.math.BigDecimal") => v // FIXME: probably we shouldn't use a string here
[code]

[2015-07-07 20:22] cvogt commented on #1000
so does replacing it with `case "scala.math.BigDecimal" => s"new scala.math.BigDecimal(new java.math.BigDecimal($v))"` fix the issue? what about precision and scale?

[2015-07-07 20:28] ekrich commented on #1000
Using @nafg 's code, this comes closer to the original code `case "scala.math.BigDecimal" => v.toString.trim + "d"` The trim is based on my observation posted on gitter.

[2015-07-07 20:39] ekrich commented on #1000
I guess the long version above is to take advantage of the java BigDecimal constructor that takes string. Scala has an apply(String) but no implicit conversion from String to scala BigDecimal - not sure why. My current DB only has NUMBER(38), with no precision or scale so I'm not sure about your question.

[2015-07-08 12:33] schmitch opened #1194 "Add XML Support"
Currently JDBC4 introduced XML Support for databases, so it would be great to have such functionality in Slick, too.

See: http://docs.oracle.com/javase/8/docs/api/java/sql/SQLXML.html

[2015-07-08 17:23] asdcdow commented on #1146
+1

[2015-07-09 08:26] i-schuetz opened #1195 "Documentation links to edit page on Github don't work"
The links in the documentation to edit the page on Github lead to urls like:

https://github.com/slick/slick/edit/master/src/sphinx/sql-to-slick.rst

but this results in 404. The correct url is:

https://github.com/slick/slick/edit/master/slick/src/sphinx/sql-to-slick.rst

I think the link is here:
https://github.com/slick/slick/blob/e9ab33083bfa1ae642a93d4e52b4ac87b42dc917/slick/src/sphinx/theme/

[2015-07-10 09:48] KLBonn commented on #799
Me too.
For now it seems I have to do it in-memory.

Side note: I know of close to zero cases where the in-memory (application input) collection would exceed the respective database table size. By far the most cases of collection comparisons (should) have been located on db side.

[2015-07-10 17:55] Ciantic opened #1197 "Slick 3.0 withTransaction blocks are required to interact with libraries"
There are at least two #1148 and #1093 that looks like a duplicate, but according to discussion at Slack with @cvogt I decided to open this anyway.

Suppose there is a *external library* which has trait e.g.

[code]

If I then create implementation using slick for A, and B, they look something like this:

[code]

Now somewhere in code you may need to call them both in one transaction, it was possi

[2015-07-11 11:36] sasajib commented on #1026
+1

[2015-07-13 03:37] deanchen commented on #963
+1

[2015-07-13 03:45] deanchen commented on #378
+1 on OL support

[2015-07-13 07:50] asazernik commented on #966
The issue is definitely that `O.PrimaryKey` is not set, as @aparamonov stated. The relevant code in `PostgresDriver#UpsertBuilder` is:

[code]

where `softNames` and `pkNames` are distinguished in the following statement in `JdbcCompiledInsert#UpsertBuilder`:

[code]

If, as @davidhoyt indicated, this breaks the SQL generator, that may or may not be a separate bug. The real issue seems to be the l

[2015-07-13 08:34] asazernik commented on #1171
This request is a subset of #1190

[2015-07-13 12:12] #1090 closed

[2015-07-13 20:04] TimothyKlim commented on #1137
PoC of this bug https://github.com/TimothyKlim/slick3.0-bug-poc

[2015-07-13 22:17] Carlos-Augusto commented on #1000
I was suffering from the same problem. But I used @nafg 's workaround and it fixed it. The only thing is that I used:
 case "scala.math.BigDecimal" => s"scala.math.BigDecimal($v)"
instead of
 case "scala.math.BigDecimal" => s"new scala.math.BigDecimal(new java.math.BigDecimal($v))"

[2015-07-14 09:02] #1137 closed

[2015-07-14 09:10] szeiger commented on #1137
Fixed in master via #1133

[2015-07-14 09:11] TimothyKlim commented on #1137
@szeiger thank you!

[2015-07-14 17:06] luminescent commented on #497
+1

[2015-07-16 14:37] #1140 closed

[2015-07-17 04:46] berardino commented on #966
I have encountered the same issue . I have a table oauth2_access_tokens with the following composite primary key(user_id,client_id) .
+1

[code]

[2015-07-18 16:49] tonylotts commented on #1183
I'm getting this exception thrown in specs.

[2015-07-19 10:58] mohittt8 opened #1205 "Error while running queries using slick-3.1.0-M1"
While trying out slick-3.1.0-M1, one of our tests failed, with the exception -
[code]

I could reduce the code which causes the issue to this

[code]

It works fine in slick-3.0. I am using MySQL 5.6 and scala 2.11.6

[2015-07-20 15:16] CHEWX opened #1206 "slickGoTo method goes clockwise"
Hi,

Found an issue where linking together a couple of sliders and using the method 'slickGoTo'.

The count is 20.

When clicking the goTo handler at the start of the slider and requesting to go to 20, instead of going backwards from 1 in will go all the way round to 20.

Thanks.

[2015-07-20 15:18] cvogt commented on #1206
wrong project, this is the scala databsse library

[2015-07-20 15:18] #1206 closed

[2015-07-20 16:22] p4ndaman commented on #378
+1

[2015-07-20 16:57] jpfuentes2 commented on #963
There seems to a be decent approach for this on SO [here](http://stackoverflow.com/a/28148606/310275). I'm about to modify it for Slick 3.0 since that's what we use.

[2015-07-20 23:57] i-schuetz commented on #1158
(This comes late and I don't have a lot of experience with Slick but I'll try anyway).

Something like this:

[code]

[2015-07-21 01:40] hepin1989 commented on #1030
@szeiger The user case here is that,if I receive some data from a message queue and just simply insert them into a table,and maybe one day one table,and then some data are corrupted,so I want to any others in the batch insert successfully ,not the whole batch.

[2015-07-21 17:22] jpfuentes2 commented on #963
FYI: I was able to get an easy version of this working for Slick 3.0 based on [this SO answer](http://stackoverflow.com/a/28148606/310275). The 3.0 version is [here](http://stackoverflow.com/a/31545270/310275).

[2015-07-22 12:45] kheraud commented on #519
Is there any summary somewhere of the best approach to use slick with a table with more than 22 columns ? ("People will ask for this ":)) .
Some examples deal with nested case class, others with HList which seams hard to convert to case class.
What is the right way to do it (perennial with slick 3.x roadmap) ?

[2015-07-22 23:26] mdedetrich commented on #519
@kheraud The method I described at http://stackoverflow.com/questions/24978042/slick-2-10-rc1-scala-2-11-x-bypassing-22-arity-limit-with-case-class-heteroge/24982618#24982618 is the method I use (and still use with Slick` 3.0, although I believe there was some deprecated imports)

I don't think there is an alternative method, there is an issue lying around somewhere regarding shapeless integration

[2015-07-22 23:54] nafg commented on #519
I would say nested case classes, or nested tuples.
With Slick, at least 3, you can combine and map MappedProjections. Here's
some code I have:

case class OrderAll(basic: OrderBasic, ...)

val basicProjection = basicFields <>(OrderBasic.tupled, OrderBasic.unapply)
*...*

def all = (basicProjection, ...).shaped <> (
  { case (basic, ...) => OrderAll(basic, ...) },
  (oa: OrderAll) => Some((oa.basic

[2015-07-23 08:13] kheraud commented on #519
Thanks, I will keep on using @mdedetrich solution with no nesting at all (as Scala 2.11 fixed the case class limit of 22 params).

[2015-07-23 15:09] cvogt commented on #519
@szeiger do you see what's wrong with @melrief's shapeless try up there?

[2015-07-23 19:03] btd commented on #1161
@szeiger @cvogt i also would like to know answer. Thanks!

[2015-07-24 08:32] mdedetrich commented on #519
@cvogt Is `shapeless` integration via a plugin still on the gameplan, and if so, when?

[2015-07-24 17:17] v6ak commented on #1156
I changed `y.isEmpty` to `y.fold(true.asColumnOf[Boolean])(_ => false)`, which does the job correctly without a subquery.

However, it is weird that isEmpty is [defined in a very similar way](https://github.com/slick/slick/blob/3cd8617296d3d9d05cdf08b6bb4a776eb262ea21/slick/src/main/scala/slick/lifted/ExtensionMethods.scala#L217):

      def isEmpty: Rep[Boolean] = fold(LiteralColumn(true))(_ => L

[2015-07-24 19:44] agapep commented on #497
+1

[2015-07-24 20:26] v6ak commented on #1155
I have some idea on a better support of compiled queries:

    @compiledQuery def get(id: Rep[Long]) = tables.filter(_.id === id).result

would be compiled as:

    private val compiledGet = tables.filter(_.id === id).result

    def get(id: Rep[Long]) = compiledGet(id)

For creating some service class, it would be useful to have a simple way to define `get(id: Long)` instead of `get(id: Rep[Long]

[2015-07-24 22:24] rockjam commented on #497
+1

[2015-07-24 22:33] prettynatty commented on #497
:+1:

[2015-07-25 20:26] Shearerbeard commented on #313
+1

[2015-07-27 03:32] nafg commented on #1155
You can pass a Long where a Rep[Long] is expected (if you have the
implicits in scope)

On Fri, Jul 24, 2015, 4:26 PM Vít Šesták <notifications@github.com> wrote:

[2015-07-27 06:07] mohittt8 commented on #497
+1

[2015-07-27 06:11] bad79s commented on #92
+1

[2015-07-27 18:39] agaman commented on #1068
+1

I am also running into this bug.

[2015-07-27 21:50] domdorn commented on #966
I just encountered the same issue in slick 3.0.0 with PostgreSQL.
Changing my code form tableQuery.insertOrUpdate(row) to tableQuery += row fixed the issue, obviously with slightly different semantics. IMHO slick should throw an own exception when trying to do insertOrUpdate on PostgreSQL when that is not supported.

[2015-07-28 09:47] nmartynenko commented on #1026
+1

[2015-07-28 15:44] btd commented on #1170
Got the same exception today

[2015-07-29 10:06] szabba commented on #497
+1

[2015-07-29 16:19] agapep commented on #966
+1

[2015-07-29 18:59] prettynatty commented on #1183
I also get this exception in tests on a simple UPDATE query with one WHERE.
As a work-around I rewrote action using plain SQL.

[2015-07-29 19:01] prettynatty commented on #1186
I have the same issue with depply nested actions.

[2015-07-29 20:41] prettynatty commented on #1183
A work-around I mentioned above didn't work. It fixed one test, but the problem migrated to another one! :poodle:

[2015-07-30 16:07] v6ak commented on #1155
That's true. However, this is not OK for some level of encapsulation. One might want to receive just `Long` and return just `Future[ResultType]`

[2015-07-30 20:54] prettynatty commented on #1183
I caught this problem when I run `DBIO.fromFuture` inside a transactionally DBIOAction.

[2015-07-31 13:04] romanwozniak commented on #1159
I have the same issue. Did anyone figured out how to solve it?

[2015-07-31 13:21] romanwozniak commented on #1159
Importing into the scope implicit mappers for custom DateTime columns resolved the issue.
Mappers look something like this:

[code]

[2015-07-31 13:41] cvogt commented on #1159
@domdorn "does not work" is not particularly helpful for understanding the problem. How about a bit more info :)? "expected result" vs. "actual result" is often a good way to describe it.

[2015-07-31 14:15] domdorn commented on #1159
"Does not work" ==
 * Code compiles
 * Code runs
 * if the Date-Fields (created_at, updated_at) are used (like in method "updateNotWorking") the values in the DB are not changed (= code does not work + does not throw an exception or log anything)

"I" "fixed" it by letting the slick-codegen generate a schema for the table. The Date fields are changed to java.sql.Timestamps there. It looks like
[co

[2015-07-31 14:30] cvogt commented on #1159
@szeiger may be worth looking at for 3.0.1

[2015-08-02 07:32] mielientiev commented on #1188
I have the same problem with Intellij IDEA (Scala plugin). If specify full path - everything works fine

[2015-08-03 09:32] thirdy commented on #1036
7 months later...

Encountered this too, using intellij IDEA. In my case it's with MySQL. But yeah it was my method's return type.

[2015-08-03 15:28] szeiger commented on #1188
This runs as part of the compiler, so paths are probably resolved relative to the Eclipse home dir. Maybe a resource: URL would work better (it doesn't in sbt, which is why we use file: in the examples). You should ask this question in a Scala IDE forum.

[2015-08-03 15:28] #1188 closed

[2015-08-03 15:30] Astrac opened #1218 "Streaming from MySQL requires special parameter"
When you try streaming results from MySQL using the JDBC driver and do not provide any special parameter for the DB statements the driver will load the entire result set in memory regardless of the fact that you run the `DBIO` action using the `stream` combinator. To get MySQL streaming the results it is needed to add the following statement parameters:
[code]

I _think_ that the first one is the

[2015-08-03 22:03] tonylotts commented on #1068
Here's a workaround, given @vladimir-lu-work's example:

[2015-08-04 06:58] beyonix commented on #799
@cvogt, you're of course correct in that efficiency depends on the size of the scala set vs. the table size, however I agree with @KLBonn that the majority of use cases the former will be smaller. In our current project we do quite a bit of micro-batching, which would be helped tremendously if this was a slick feature!